.navbar {

  position: relative;
  z-index: 4;

  @media (min-width: $screen-md) {
    padding: 0;
  }
  @media (min-width: $screen-xl) {
    padding: 32px 0 13px;
    height: 187px;
  }

  &._primary {
    left: 0;
    position: absolute;
    width: 100%;
    top: 20px;
    @media (min-width: $screen-md) {
      top: 50px;
    }
    @media (min-width: $screen-xl) {
      top: 0;
    }
  }
  &:not(._primary) {
    margin-top: 20px;
    @media (min-width: $screen-md) {
      margin-top: 50px;
    }
    @media (min-width: $screen-xl) {
      margin-top: 0;
    }
  }

  &._inverted {
    top: auto;
    bottom: 0;
    padding: 13px 0 32px;
    margin-top: -53px;
    position: absolute;
    width: 100%;
    @media (max-width: $screen-xl - 1) {
      display: none;
    }
  }

  &__bg {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(~images/bg/navbar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    @media (max-width: $screen-xl - 1) {
      display: none;
    }
  }
  &._inverted &__bg {
    transform: rotate(180deg);
    display: none;
  }

  /* ---------------------------------Inner------------------------------------ */
  
  &__inner {
    display: flex;
    align-items: stretch;
    @media (min-width: $screen-md) {
      flex-flow: row nowrap;
    }
    @media (min-width: $screen-xl) {
      flex-flow: column nowrap;
    }
  }
  &._inverted &__inner {
    flex-direction: column-reverse;
  }

  &__info {
    display: flex;
    align-items: center;
    background-color: #2CCB92;
    transition: background-color .4s;
    padding: 9px 40px;
    justify-content: space-between;
    height: 30px;
    border-radius: 38.5px;
    margin-left: 15px;
    flex-grow: 1;
    z-index: 5;
    @media (min-width: $screen-md) {
      margin-top: 0;
      margin-left: 35px;
      padding: 9px 30px;
      position: relative;
      height: 65px;
    }
    @media (min-width: $screen-xl) {
      margin-left: 0;
      border-radius: 23.5px;
      padding: 9px 50px;
      height: auto;
      flex-grow: 0;
    }
  }
  &._inverted &__info {
    margin-top: 14px;
  }
  &.is-sandwich-expanded &__info {
    background-color: #fff;
  }
  &__info._mobile-bottom {
    bottom: 20px;
    margin-left: 0;
    position: absolute;
    width: 100%;
    @media (max-width: $screen-md - 1) {
      flex-wrap: wrap;
      padding: 13px 15px 7px;
      height: auto;
    }
    @media (min-width: $screen-md) {
      bottom: 50px;
    }
    @media (min-width: $screen-xl) {
      display: none;
    }
  }



  &__address,
  &__phone {
    margin-left: 30px;
  }
  &__address,
  &__langs,
  &__social {
    @media (max-width: $screen-xl - 1) {
      display: none;
    }
  }
  .navbar__info._mobile-bottom &__address,
  .navbar__info._mobile-bottom &__langs,
  .navbar__info._mobile-bottom &__social {
    @media (max-width: $screen-xl - 1) {
      display: block;
    }
  }

  &__schedule {
    @media (max-width: $screen-md - 1) {
      max-width: 191px;
      order: -1;
    }
  }

  &__address {
    @media (max-width: $screen-xl - 1) {
      margin-left: 0;
    }
    @media (max-width: $screen-md - 1) {
      max-width: 191px;
    }
  }

  &__phone {
    @media (max-width: $screen-md - 1) {
      margin-left: 0;
    }
  }

  &__langs {
    margin-left: 16px;
    @media (min-width: $screen-md) {
      margin-left: 60px;
    }
    @media (min-width: $screen-xl) {
      margin-left: 113px;
    }
  }

  &__social {
    @media (max-width: $screen-md - 1) {
      order: -1;
      margin-left: 16px;
    }
    @media (min-width: $screen-md) {
      margin-left: 44px;
    }
  }

  /* ---------------------------------Logo------------------------------------ */
  
  &__logo {
    display: block;
    @include g-square;
    margin-left: 15px;
    width: 30px;
    flex-shrink: 0;
    z-index: 2;
    position: relative;
    @media (min-width: $screen-md) {
      width: 65px;
      margin-left: 30px;
    }
    @media (min-width: $screen-xl) {
      width: 86px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  &__logo-inner {
    display: block;
    padding: 9%;
    border-radius: 50%;
    background-color: #2CCB92;
    transition: background-color .4s;
  }
  .navbar.is-sandwich-expanded &__logo-inner {
    @media (max-width: $screen-xl - 1) {
      background-color: #fff;
    }
  }

    /* ---------------------------------Menu------------------------------------ */
  
  &__menu-wr {
    @media(max-width: $screen-xl - 1) {
      position: absolute;
      left: 0;
      top: -50px;
      width: 100%;
      padding: 0;
      overflow: hidden;
      display: none;
      //z-index: 2;
      background: linear-gradient(180deg, #26D999 -26.74%, #0F6376 186.9%);

      &.is-collapsing {
        display: block;
        transition: height 300ms linear;
      }

      &.is-collapsed {
        display: block;
        height: auto;
      }
    }
    @media (max-width: $screen-md - 1) {
      top: -20px;
    }
    @media(min-width: $screen-xl) {
      margin-top: 14px;
      display: block;
      height: auto!important;
    }
  }
  &._inverted &__menu-wr {
    @media(min-width: $screen-xl) {
      margin-top: 0;
    }
  }

  &__menu {
    @media(max-width: $screen-xl - 1) {
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      width: 280px;
      position: relative;
      padding: 70px 0 100px;
    }
    @media (min-width: $screen-sm) {
      width: map-get($container-widths, sm);
    }
    @media (min-width: $screen-md) {
      width: map-get($container-widths, md);
      padding: 176px 0 150px;
    }
    @media (min-width: $screen-lg) {
      width: map-get($container-widths, lg);
    }
    @media (min-width: $screen-xl) {
      width: 100%;
      padding: 0;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
    }
  }

  &__menu-nav {
    position: relative;
    @media (min-width: $screen-md) {
      //display: none;
    }
    @media (min-width: $screen-xl) {
      display: block;
      flex-grow: 1;
      margin-top: 16px;
    }
  }
  &._inverted &__menu-nav {
    margin-top: 49px;
  }

  /* ---------------------------------Content------------------------------------ */
  
  &__content-inner {
    float: right;
  }


  /* ---------------------------------Toggle------------------------------------ */

  &__toggle {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    @media(min-width: $screen-xl) {
      display: none;
    }
  }
}

.navbar-schedule,
.navbar-address,
.navbar-phone {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  transition: color .4s;

  .navbar.is-sandwich-expanded & {
    color: #0EB77A;
  }

  &__icon {
    width: 17px;
    flex-shrink: 0;
  }

  &__text {
    white-space: nowrap;
    font-weight: 600;
    margin-left: 10px;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
.navbar-address__text {
  @media (max-width: $screen-md - 1) {
    white-space: normal;
  }
}

.navbar-address,
.navbar-phone {
  transition: color .4s;

  &:hover {
    color: #FEC637;
  }
  .navbar.is-sandwich-expanded &:hover {
    color: #F16500;
  }
}
