.navbar-nav {

  @media (min-width: $screen-xl) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include gutters(20px);
  }

  &__item-wr + &__item-wr {
    @media (max-width: $screen-xl - 1) {
      margin-top: 25px;
    }
    @media (max-width: $screen-md - 1) {
      margin-top: 12px;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 600;
    color: #FFFFFF;
    transition: background-color .4s, color .4s;
    font-size: 18px;
    line-height: 20px;
    border-radius: 22.5px;
    padding: 1px 15px;
    @media (min-width: $screen-md) {
      font-size: 36px;
      line-height: 39px;
      padding: 2px 15px;
    }
    @media (min-width: $screen-xl) {
      font-size: 16px;
      line-height: 19px;
      padding: 2px 8px;
      border-radius: 11px;
    }
  }
  &__link:hover {
    background: #FEC637;
    color: #232245;
  }

  &__submenu {
    display: none;
  }
}
