.navbar-social {
  display: flex;
  align-items: center;
  @include gutters(6px);
  @media (min-width: $screen-md) {
    @include gutters(20px);
  }

  &__item {

  }

  &__link {
    display: block;
    padding: 10px;
    margin: -10px;
    color: #FFFFFF;
    transition: color .4s;
  }
  .navbar.is-sandwich-expanded &__link {
    color: #0EB77A;
  }
  &__link:hover {
    color: #FEC637;
  }

  &__svg {
    width: 18px;
    @media (min-width: $screen-md) {
      width: 24px;
    }
  }
}