.navbar-toggle {
  border-radius: 50%;
  background-color: #0EB77A;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .4s;

  .navbar.is-sandwich-expanded & {
    background-color: #fff;
  }

  @media (min-width: $screen-md) {
    width: 65px;
    height: 65px;
    padding: 10px;
  }

  &__inner {
    width: 19px;
    @media (min-width: $screen-md) {
      width: 43px;
    }
  }

  &__sep {
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-md) {
      height: 2px;
      border-radius: 5px;
    }
  }
  &__sep:first-child,
  &__sep:last-child {
    width: 76.44%;
  }

  &__sep + &__sep {
    margin-top: 4px;
    @media (min-width: $screen-md) {
      margin-top: 8px;
    }
  }
}
