.modal-main {
  position: relative;
  display: none;
  opacity: 0;
  max-width: 796px;
  width: 100%;
  padding: 70px 64px;
  background: linear-gradient(180deg, #26D999 -26.74%, #0F6376 186.9%);
  border-radius: 100px;
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
  }
  &:before {
    top: 0;
    background: url(~images/bg/stars-modal-top.svg) no-repeat;
  }
  &:after {
    bottom: 0;
    background: url(~images/bg/stars-modal-bottom.svg) no-repeat;
  }

  &.is-opening {
    display: block;
    transition: opacity 300ms;
    opacity: 1;
  }

  &.is-closing {
    display: block;
    transition: opacity 300ms;
    opacity: 0;
  }

  &.is-opened {
    display: block;
    opacity: 1;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__title {

  }

  &__title + &__desc {
    margin-top: 30px;
  }
  &__desc {
    font-family: $FNotoSans;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 432px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title + &__content,
  &__desc + &__content {
    margin-top: 30px;
  }

  &__close {
    display: block;
    position: fixed;
    width: 34px;
    height: 34px;
    top: 45px;
    right: 36px;
    z-index: 1;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: '';
      height: 6px;
      width: 48px;
      border-radius: 3px;
      background-color: #0EB77A;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

}

.modal-main-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__inner {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }

  &__line {
    margin-top: -26px;
    background: #FEC637;
    border-radius: 20.5px;
    height: 26px;
  }

  &__text {
    position: relative;
    padding: 0 15px;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #232245;
  }
}

/* ---------------------------------Overlay------------------------------------ */

.modal-main-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  padding: 10px;
  background: rgba(21, 33, 28, 0.8);

  opacity: 0;

  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &.is-primary {
    z-index: 11;
  }

  &.is-opening {
    display: flex;
    transition: opacity 300ms;
    opacity: 1;
  }

  &.is-closing {
    display: flex;
    transition: opacity 300ms;
    opacity: 0;
  }

  &.is-opened {
    display: flex;
    opacity: 1;
  }

  & .modal {
    position: absolute;
  }
}

//.modal-main-video {
//  max-width: 400px;
//  margin-left: auto;
//  margin-right: auto;
//  @include g-rectangle;
//
//  &__overlay {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    opacity: 1;
//    transition: opacity 500ms ease;
//  }
//
//  iframe {
//    opacity: 0;
//    transition: opacity 500ms ease;
//  }
//
//  &.is-ready &__overlay {
//    opacity: 0;
//  }
//
//  &.is-ready iframe {
//    opacity: 1;
//  }
//}