.section-primary {

  &__description {
    font-family: $FNotoSans;
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-md) {
      text-align: center;
      max-width: 668px;
      font-size: 16px;
      line-height: 22px;
    }
    @media (min-width: $screen-xl) {
      max-width: 941px;
    }
  }

  &__title + &__description {
    margin-top: 10px;
    @media (min-width: $screen-md) {
      margin-top: 20px;
    }
    @media (min-width: $screen-xl) {
      margin-top: 30px;
    }
  }

  &__description + &__content,
  &__title + &__content {
    margin-top: 30px;
    @media (min-width: $screen-md) {
      margin-top: 50px;
    }
    @media (min-width: $screen-xl) {
      margin-top: 70px;
    }
  }
}
.section + .section,
.breadcrumb + .section {
  margin-top: 50px;
  @media (min-width: $screen-md) {
    margin-top: 90px;
  }
  @media (min-width: $screen-xl) {
    margin-top: 120px;
  }
}

.section-primary-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &._max-width-extra-title {
    @media (max-width: $screen-md - 1) {
      max-width: 86%;
    }
    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      max-width: 75%;
    }
  }
  &._max-width-mobile-testimonials-title {
    @media (max-width: $screen-md - 1) {
      max-width: 64%;
    }
  }
  &._max-width-game-title {
    @media (max-width: $screen-md - 1) {
      max-width: 80%;
    }
    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      max-width: 88%;
    }
  }
  &._max-width-other-games-title {
    @media (max-width: $screen-md - 1) {
      max-width: 76%;
    }
    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      max-width: 62%;
    }
  }

  &._max-width-other-shows-title {
    @media (max-width: $screen-md - 1) {
      max-width: 74%;
    }
    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {

    }
  }

  &._max-width-shows-page-title {
    @media (max-width: $screen-md - 1) {
      max-width: 80%;
    }
    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      max-width: 66%;
    }
  }

  &._max-width-reservation-title {
    @media (max-width: $screen-md - 1) {
      max-width: 70%;
    }
  }

  &__inner {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding-bottom: 2px;
    @media (min-width: $screen-md) {
      padding-bottom: 3px;
    }
  }

  &__line {
    position: absolute;
    background: #FEC637;
    border-radius: 20.5px;
    height: 14px;
    bottom: 0;
    width: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: $screen-md) {
      height: 26px;
      width: calc(100% + 30px);
    }
  }
  &._max-width-game-title &__line {
    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      max-width: 80%;

    }
  }

  &__text {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #232245;
    @media (min-width: $screen-md) {
      padding: 0 15px;
      font-size: 48px;
      line-height: 58px;
    }
  }
}