.section-secondary {
  position: relative;
  //background-image: url(~images/bg/shows.png);
  //background-repeat: no-repeat;
  //background-size: auto 100%;
  //background-position: center;
  //position: relative;
  //background: linear-gradient(180deg, #26D999 0%, #0F6376 100%);
  //box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.25);
  //overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    background: linear-gradient(180deg, #26D999 0%, #0F6376 100%);
    overflow: hidden;
    @media (min-width: $screen-md) {
      width: 266%;
      border-radius: 50%;
    }
    @media (min-width: $screen-xl) {
      width: 200%;
    }
  }

  &__stars {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: $screen-md) {
      min-width: 1934px;
    }
  }
  &__stars._top {
    top: 0;
    background-image: url(~images/bg/stars_top.svg);
  }
  &__stars._bottom {
    bottom: 0;
    background-image: url(~images/bg/stars_bottom.svg);
  }

  &__inner {
    position: relative;
    z-index: 2;
    padding: 30px 0;
    @media (min-width: $screen-md) {
      padding: 50px 0;
    }
    @media (min-width: $screen-xl) {
      padding: 70px 0;
    }
  }
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    @media (min-width: $screen-md) {
      font-size: 48px;
      line-height: 58px;
    }
  }

  &__description {
    font-family: $FNotoSans;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $screen-md - 1) {
      font-size: 12px;
      line-height: 16px;
      text-align: justify;
    }
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 22px;
      max-width: 682px;
    }
    @media (min-width: $screen-xl) {
      max-width: 835px;
    }
  }
  &__description + &__description {
    margin-top: 4px;
  }
  &__title + &__description {
    margin-top: 10px;
    @media (min-width: $screen-md) {
      margin-top: 30px;
    }
  }

  &__content {
    margin-top: 20px;
    @media (min-width: $screen-md) {
      margin-top: 40px;
    }
  }
}