.hero-primary {
  position: relative;
  height: 100vh;
  $heightNavbarContent: 134px;

  &__bg {
    z-index: 0;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    background-image: url(~images/bg/hero_primary.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 33%;
    @media (min-width: $screen-md) {
      background-position-x: 28%;
    }
    @media (min-width: $screen-lg) {
      top: $heightNavbarContent;
      height: calc(100% - #{$heightNavbarContent});
      background-position: center;
    }
  }

  .container {

  }

  &__inner {
    position: relative;
    @media (max-width: $screen-md - 1) {
      padding-top: 140px;
      width: 95%;
    }
    @media (min-width: $screen-md) {
      padding-top: 310px;
      width: 72%;
    }
    @media (min-width: $screen-xl) {
      padding-top: 378px;
      width: 42%;
    }
  }

  &__video {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #232245;
    @media (max-width: $screen-md - 1) {
      max-width: 92%;
    }
    @media (min-width: $screen-md) {
      font-size: 48px;
      line-height: 58px;
    }
  }

  &__desc {
    font-family: $FNotoSans;
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__button {
    margin-top: 20px;
    @media (min-width: $screen-md) {
      margin-top: 35px;
    }
  }
}

.hero-primary-video {
  width: 626px;
  height: 90px;
  display: flex;
  position: relative;
  align-items: center;
  @media (min-width: $screen-md) {
    height: 197px;
  }


  &__pic {
    height: inherit;
    display: block;
    flex-grow: 1;
    background-color: rebeccapurple;
  }

  &__text {
    width: 90px;
    height: inherit;
    @media (min-width: $screen-md) {
      width: 197px;
    }
  }
}

.hero-primary-video-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

   &__bg {
     z-index: 0;
     border-radius: 50%;
     position: absolute;
     width: 200%;
     height: 200%;
     top: 0;
     left: -100%;
     background: linear-gradient(180deg, #26D999 0%, #0F7651 100%);;
   }

  &__content {
    display: inline-block;
    width: 90%;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: left;
  }
}