{% embed 'modal/main/layout.htm' with {title: 'Задайте нам вопрос', desc: 'Напишите нам по любому вопросу и в самое ближайшее время наш менеджер свяжется с Вами'} %}
    {% import "./form_elements.htm" as form %}
    {% block content %}
        <form class="form-primary feedback">
            <div class="form-primary__inner">
                <div class="form-primary__row">
                    <div class="form-primary__phone col-xl-6">
                        {{ form.input({name: 'phone', title: 'Телефон'}) }}
                    </div>
                    <div class="form-primary__mail col-xl-6">
                        {{ form.input({name: 'mail', title: 'E-mail'}) }}
                    </div>
                </div>
                <div class="form-primary__row">
                    <div class="form-primary__message col-12">
                        {{ form.textarea({name: 'message', title: 'Сообщение'}) }}
                    </div>
                </div>
                <div class="form-primary__button">
                    {% partial "button.htm" text = 'Отправить' button_type = 'submit' %}
                </div>
            </div>
        </form>
    {% endblock %}
{% endembed %}