<div class="modal-main" id="{{ id }}">
    <button type="button" class="modal-main__close js-modal-close"></button>
    <div class="modal-main__inner">
        <h2 class="modal-main__title modal-main-title">
            <span class="section-primary-title__inner">
                <span class="section-primary-title__text">{{ title }}</span>
                <span class="section-primary-title__line"></span>
            </span>
        </h2>
        {% if desc %}
            <p class="modal-main__desc">{{ desc }}</p>
        {% endif %}
        <div class="modal-main__content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>