title = "Games"
url = "/games"
layout = "base"
description = "Games"
is_hidden = 0
navbar_mod = ''
==

{% set gamesDesc = 'Хотите пригласить любимого персонажа в гости, но не знаете, где его искать? Откроем вам небольшой секрет... все сказочные персонажи, супергерои и суперзлодеи живут у нас! В нашей костюмерной ютятся более 120 героев и если вдруг вы не нашли подходящего персонажа,расскажите, что нравится вашему ребенку и мы подберем любимого героя для вашего праздника или подготовим костюмы по индивидуальному заказу' %}

{% set requestCharacterDesc = ['Наша команда готова воплощать в реальность любые детские мечты и пожелания! Звоните заблаговременно и мы постараемся сделать все, чтобы у ребенка на празднике был любимый герой!', 'Напишите нам и получите праздник о котором Вы давно мечтали'] %}

{% put content %}

    {% partial 'breadcrumb.htm' list = [{link: '/', title: 'Главная'}, {active: true, title: 'Игровые программы'}] %}
    {% partial 'sections/games.htm' desc = gamesDesc %}
    {% embed 'sections/layout/secondary.htm' with {title: 'Не нашли любимого персонажа?!', desc: requestCharacterDesc } %}
        {% import "./form_elements.htm" as form %}
        {% block content %}
            <form class="form-primary">
                <div class="form-primary__inner">
                    <div class="form-primary__row">
                        <div class="form-primary__phone col-12 col-md-6">
                            {{ form.input({name: 'phone', title: 'Телефон'}) }}
                        </div>
                        <div class="form-primary__mail col-12 col-md-6">
                            {{ form.input({name: 'mail', title: 'E-mail'}) }}
                        </div>
                    </div>
                    <div class="form-primary__row">
                        <div class="form-primary__message col-12">
                            {{ form.textarea({name: 'message', title: 'Сообщение'}) }}
                        </div>
                    </div>
                    <div class="form-primary__button">
                        {% partial "button.htm" text = 'Отправить' button_type = 'submit' %}
                    </div>
                </div>
            </form>
        {% endblock %}
    {% endembed %}
    {% partial 'sections/extra.htm' %}
    {% partial 'sections/form.htm' %}

{% endput %}