title = "organizers"
url = "/organizers"
layout = "base"
description = "organizers"
is_hidden = 0
navbar_mod = ''
==

{% set partners = [
    {
        title: 'Детские сады',
        icon: 'images/icons/kindergarten.svg'
    },
    {
        title: 'Школы',
        icon: 'images/icons/school.svg'
    },
    {
        title: 'Игровые площадки',
        icon: 'images/icons/playground.svg'
    }
] %}

{% put content %}

    {% partial 'breadcrumb.htm' list = [{link: '/', title: 'Главная'}, {active: true, title: 'Организаторам'}] %}
    {% embed 'sections/layout/primary.htm' with {title: 'Сострудничество с организациями' } %}
        {% import "./form_elements.htm" as form %}
        {% block content %}
            <div class="b-partners">
                <ul class="b-partners__list b-partners-list">
                    {% for item in partners %}
                        <li class="b-partners-list__item col-md-4">
                            <div class="b-partners-list-item">
                                <img src="{{ item.icon | assets }}" alt="" class="b-partners-list-item__icon">
                                <h4 class="b-partners-list-item__title">{{ item.title }}</h4>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
    {% endembed %}
    {% embed 'sections/layout/primary.htm' with {title: 'Наша команда', desc: 'Безопасность и качество: Есть педагогическое образование. Актеры проходят тренинги. Скрининг всех участвующих в шоу (проверка по полицейским базам). Отличие от конкурентов: наличие педагогического образование и как следствие возможность работы с детьми от 1 года и “Особенными” детьми (с инвалидностью, с отставание в развитии)' } %}
    {% endembed %}
    {% partial 'sections/shows.htm' %}
    {% partial 'sections/testimonials.htm' carouselMobile = true %}
    {% partial 'sections/form.htm' %}

{% endput %}