title = "Reservation"
url = "/reservation"
layout = "base"
description = "Reservation"
is_hidden = 0
navbar_mod = ''
==

{% set ageCheckList = [
    {title: '1-2', value: '1-2'},
    {title: '3-4', value: '3-4'},
    {title: '5-6', value: '5-6'},
    {title: '7-8', value: '7-8'}
] %}

{% set extraCheckList = [
    {title: 'Аквагрим', pic: 'images/extras/face_painting.jpg', value: 'face_painting'},
    {title: 'Шары', pic: 'images/extras/balloons.jpg', value: 'balloons'},
    {title: 'Candy Бар', pic: 'images/extras/candy_bar.jpg', value: 'candy_bar'},
    {title: 'Торты', pic: 'images/extras/cakes.jpg', value: 'cakes'},
    {title: 'Фото-видео', pic: 'images/extras/photo_video.jpg', value: 'photo_video'}
] %}

{% set gamesList = [
    {title: 'Капитан Блек и рядовой Джейн', value: 'black_jane'},
    {title: 'Алиса в стране чудес', value: 'alice_wonderland'},
    {title: 'Золушка', value: 'cinderella'},
    {title: 'Клоуны', value: 'clowns'},
    {title: 'Ангелы', value: 'angels'},
    {title: 'Фиксики', value: 'fiksiki'},
    {title: 'Красавица и чудовише', value: 'beauty_beast'}
] %}

{% set showsList = [
    {title: 'Шоу трансформеров', value: 'transformers'},
    {title: 'Научто-азотное шоу', value: 'nitrogen'},
    {title: 'Бумажное шоу', value: 'paper_show'},
    {title: 'Поролон шоу', value: 'foam_rubber'},
    {title: 'Динозавры', value: 'dinosaurs'},
    {title: 'Магическое шоу', value: 'magic'},
    {title: 'Шоу мыльных пузырей', value: 'soap_bubbles'},
    {title: 'Шоу бурундуков', value: 'chipmucks'}
] %}

{% put content %}

    {% partial 'breadcrumb.htm' list = [{link: '/', title: 'Главная'}, {active: true, title: 'Бронирование'}] %}
    {% embed 'sections/layout/primary.htm' with {title: 'Забронировать праздник', titleMod: '_max-width-reservation-title'} %}
        {% import "./form_elements.htm" as form %}
        {% block content %}
            <form action="" class="form-secondary">
                <div class="form-secondary__inner">
                    <div class="form-secondary__row">
                        <div class="form-secondary__number col-12">
                            {{ form.input({name: 'children_number', title: 'Количество детей на празднике', mod: '_big'}) }}
                        </div>
                    </div>
                    <div class="form-secondary__row">
                        <div class="form-secondary__age col-12">
                            {{ form.elemsGroup({title: 'Возраст детей:', name: 'age', type: 'checkbox', list: ageCheckList, countPerRowMod: '_items-2 _items-md-4'}) }}
                        </div>
                    </div>
                    <div class="form-secondary__row">
                        <div class="form-secondary__age col-12">
                            {{ form.elemsGroup({title: 'Место проведения праздника:', name: 'place', type: 'radio', list: [{title: 'Помещение', value: 'inside'}, {title: 'Открытое пространство', value: 'outside'}], countPerRowMod: '_items-1 _items-md-2'}) }}
                        </div>
                    </div>
                    <div class="form-secondary__row">
                        <div class="form-secondary__address col-12">
                            {{ form.input({name: 'address', title: 'Адрес', mod: '_big'}) }}
                        </div>
                    </div>
                    <div class="form-secondary__row">
                        <div class="form-secondary__datepicker col-6">
                            <label class="input-group date form-datepicker js-form-datepicker is-empty">
                                <input type="text" name="date" class="form-control form-datepicker__input">
                                <span class="form-datepicker__title">Дата</span>
                                <span class="input-group-addon form-datepicker__arrow">
                                    <span class="form-datepicker-arrow"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-secondary__hour col-2">
                            {{ form.changer({name: 'hour', list: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], withInput: true}) }}
                        </div>
                        <div class="form-secondary__minute col-2">
                            {{ form.changer({name: 'minute', list: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], withInput: true}) }}
                        </div>
                        <div class="form-secondary__halfday col-2">
                            {{ form.changer({name: 'halfday', list: ['AM', 'PM']}) }}
                        </div>
                    </div>
                    <div class="form-secondary__row">
                        <div class="form-secondary__duration col-12">
                            {{ form.select({mod: 'js-reservation-duration', theme: '_t-two', dataField: 'duration', title: 'Продолжительность', options: [{title: 'Продолжительность1', value: 'd1'}, {title: 'Продолжительность2', value: 'd2'}]}) }}
                        </div>
                    </div>
                    <div class="form-secondary__row">
                        <div class="form-secondary__age col-12">
                            {{ form.elemsGroup({name: 'programme_type', mod: 'js-reservation-programme-type', type: 'radio', list: [{title: 'Игровая программа', value: 'games'}, {title: 'Шоу-программа', value: 'shows'}], countPerRowMod: '_items-1 _items-md-2'}) }}
                        </div>
                    </div>
                    <div class="form-secondary__row">
                        <div class="form-secondary__programme-choice col-12">
                            {{ form.select({mod: 'js-reservation-programme-choice js-reservation-games-choice', name: 'games-programme-choice', theme: '_t-two', dataField: 'programme-choice', title: 'Выбор программы', options: gamesList}) }}
                            {{ form.select({mod: 'js-reservation-programme-choice js-reservation-shows-choice d-none', name: 'shows-programme-choice', theme: '_t-two', dataField: 'programme-choice', title: 'Выбор программы', options: showsList}) }}
                        </div>
                    </div>
                    <div class="form-secondary__row">
                        <div class="form-secondary__extra col-12">
                            {{ form.elemsGroup({title: 'Дополнительные услуги:', name: 'extra', column: true, type: 'checkbox', list: extraCheckList, countPerRowMod: '_items-5'}) }}
                        </div>
                    </div>
                    <div class="form-secondary__row">
                        <div class="form-secondary__comment col-12">
                            {{ form.textarea({name: 'comment', title: 'Пожелания', mod: '_big'}) }}
                        </div>
                    </div>
                </div>
            </form>
        {% endblock %}
    {% endembed %}
    {% partial 'sections/form.htm' %}

{% endput %}