title = "Shows"
url = "/shows"
layout = "base"
description = "Shows"
is_hidden = 0
navbar_mod = ''
==

{% set shows = [
    {title: 'Шоу трансформеров', pic: 'images/shows/transformers.jpg'},
    {title: 'Научно-азотное шоу', pic: 'images/shows/nitrogen.jpg'},
    {title: 'Бумажное шоу', pic: 'images/shows/paper_show.jpg'},
    {title: 'Поролон шоу', pic: 'images/shows/foam_rubber.jpg'},
    {title: 'Динозавры', pic: 'images/shows/dinosaurs.jpg'},
    {title: 'Магическое шоу', pic: 'images/shows/magic.jpg'},
    {title: 'Шоу мыльных пузырей', pic: 'images/shows/soap_bubbles.jpg'},
    {title: 'Шоу бурундуков', pic: 'images/shows/chipmucks.jpg'}
] %}

{% set testimonials = [
    {
        name: 'Nadine',
        text: ['Just did my daughter&#39;s first birthday with them and they were great!!! Kids of all ages were invited and they all had a great time and were entertained. Great service and very reasonable pricing! Highly recommend them!']
    },
    {
        name: 'Shani',
        text: ['I did the bubble show for my daughter 2nd bday and it was amazing! The older kids and the adults loved it also!']
    },
    {
        name: 'Ea Mia',
        text: ['Very recommended! Great people, wonderful place, very nice atmosphere. Birthday party was awesome, the animation did a great job playing with kids. Very reasonable prices and quality service!']
    }
] %}

{% put content %}

    {% partial 'breadcrumb.htm' list = [{link: '/', title: 'Главная'}, {active: true, title: 'Шоу-программы'}] %}
    {% embed 'sections/layout/primary.htm' with {title: 'Самые яркие шоу программы', titleMod: '_max-width-shows-page-title'} %}
        {% block content %}
            {% partial 'list/secondary.htm'  pagination = {count: 2} list = shows button = {text: 'Заказать праздник', mod: 'js-something-button'} %}
        {% endblock %}
    {% endembed %}
    {% embed 'sections/layout/secondary.htm' with {title: 'Отзывы наших клиентов' } %}
        {% import "./form_elements.htm" as form %}
        {% block content %}
            <div class="b-testimonials">
                <div class="b-testimonials__list b-testimonials-list _secondary _mobile-arrow-green js-testimonials-mobile-carousel">
                    {% for item in testimonials %}
                        <div class="b-testimonials-list__item  col-12 col-md-6 col-xl-4" data-dot="<button role='button' class='owl-dot__button'><span class='owl-dot__button-inner'>{{ loop.index }}</span></button>">
                            <div class="b-testimonials-list-item">
                                <div class="b-testimonials-list-item__bg"></div>
                                <div class="b-testimonials-list-item__inner">
                                    <div class="b-testimonials-list-item__name">{{ item.name }}</div>
                                    <div class="b-testimonials-list-item__text">
                                        {% for p in item.text %}
                                            <p>{{ p | raw }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="b-testimonials__pagination">
                    {% partial "pagination.htm" page_count = 3 mod = '_white' %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    {% partial 'sections/extra.htm' %}
    {% partial 'sections/form.htm' %}

{% endput %}