title = "Testimonials"
url = "/testimonials"
layout = "base"
description = "Testimonials"
is_hidden = 0
navbar_mod = ''
==

{% set props = {
    pic: 'images/shows/paper_show.jpg',
    title: 'Бумажное шоу',
    age: '8 - 14 лет',
    price: '450$/45 мин.',
    desc: 'Грандиозное бумажное шоу – это гарантия незабываемого праздника! Более 50 кг бумажного салюта, пушка, невообразимее костюмы, дымовое шоу! Это необычная дискотека для детей и взрослых, которая останется в памяти надолго!'
} %}

{% put content %}

    {% partial 'breadcrumb.htm' list = [{link: '/', title: 'Главная'}, {active: true, title: 'Отзывы'}] %}
    {% partial 'sections/testimonials.htm' %}
    {% embed 'sections/layout/secondary.htm' with {title: 'Расскажите, как прошёл ваш праздник' } %}
        {% import "./form_elements.htm" as form %}
        {% block content %}
            <form class="form-primary">
                <div class="form-primary__inner">
                    <div class="form-primary__row">
                        <div class="form-primary__phone col-xl-6">
                            {{ form.input({name: 'phone', title: 'Телефон'}) }}
                        </div>
                        <div class="form-primary__mail col-xl-6">
                            {{ form.input({name: 'mail', title: 'E-mail'}) }}
                        </div>
                    </div>
                    <div class="form-primary__row">
                        <div class="form-primary__message col-12">
                            {{ form.textarea({name: 'message', title: 'Сообщение'}) }}
                        </div>
                    </div>
                    <div class="form-primary__button">
                        {% partial "button.htm" text = 'Отправить' button_type = 'submit' %}
                    </div>
                </div>
            </form>
        {% endblock %}
    {% endembed %}
    {% embed 'sections/layout/primary.htm' with {title: 'Шоу-программы'} %}
        {% block content %}
            {% partial 'list/secondary.htm' list = [{title: 'Динозавры', pic: 'images/shows/dinosaurs.jpg'}, {title: 'Магическое шоу', pic: 'images/shows/magic.jpg'}, {title: 'Шоу мыльных пузырей', pic: 'images/shows/soap_bubbles.jpg'}, {title: 'Шоу бурундуков', pic: 'images/shows/chipmucks.jpg'}] pagination = {count: 2} link = {text: 'Все шоу-программы', href: '/shows'} carouselMobileJsClass = 'js-other-shows-mobile-carousel' %}
        {% endblock %}
    {% endembed %}
    {% partial 'sections/form.htm' %}

{% endput %}