.l-primary {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;

  &__item + &__item {
    margin-top: 50px;
    @media (min-width: $screen-md) {
      margin-top: 90px;
    }
    @media (min-width: $screen-xl) {
      margin-top: 70px;
    }
  }
}


.l-primary-item {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  position: relative;
  @media (max-width: $screen-md - 1) {
      
  }
  @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
    padding-top: 345px;
  }
  @media (min-width: $screen-xl) {
    height: 466px;
  }

  &._odd {
    align-items: flex-end;
  }
  &._even {
    align-items: flex-start;
  }

  &__pic {
    display: block;
    height: inherit;
    border-radius: 40px;
    overflow: hidden;
    font-size: 0;
    @media (min-width: $screen-md) {
      width: 592px;
      top: 0;
      position: absolute;
    }
  }
  &._odd &__pic {
    left: 0;
  }
  &._even &__pic {
    right: 0;
  }
  &__pic-img {
    width: 100%;
    height: auto;
  }

  &__info {
    position: relative;
    display: block;
    background: linear-gradient(180deg, #FFE093 0%, #FFD15C 100%);
    border-radius: 40px;
    overflow: hidden;
    @media (max-width: $screen-md - 1) {
      margin-top: 20px;
      padding: 20px;
      min-height: 250px;
    }
    @media (min-width: $screen-md) {
      min-height: 323px;
      width: 592px;
      top: 45px;
      padding: 30px 37px 25px;
    }
  }

  &__stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(~images/bg/extra_card.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  &__title {
    position: relative;
    font-weight: 600;
    color: #232245;
    font-size: 18px;
    line-height: 22px;
    @media (min-width: $screen-md) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__prop {
    display: block;
    position: relative;
    font-weight: 600;
    color: #232245;
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__desc {
    position: relative;
    font-family: $FNotoSans;
    margin-top: 10px;
    color: #232245;
    font-size: 12px;
    line-height: 16px;
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__button {
    @media (max-width: $screen-xl - 1) {
      margin-top: 83px;
      align-self: center;
    }
    @media (max-width: $screen-md - 1) {
      margin-top: 30px;
    }
  }
}