.l-secondary {
  @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
    max-width: 592px;
    margin-left: auto;
    margin-right: auto;
  }

  &__items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 30px;
    @media (max-width: $screen-md - 1) {
      @include carousel-arrows();
      @include carousel-dots-mobile();
      &.owl-carousel {
        width: calc(100% + 20px);
      }
      .owl-nav {
        width: 100%;
      }
      .owl-stage {
        display: flex;
        align-items: stretch;
      }
      .owl-item {
        float: none;
      }
    }
    @media (min-width: $screen-md) {
      margin-bottom: 50px;
    }
    @media (min-width: $screen-xl) {
      margin-bottom: 70px;
    }
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;

    &:nth-child(n + 5) {
      margin-top: 20px;
    }

    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      &:nth-child(n + 3) {
        margin-top: 20px;
      }
    }
    @media (max-width: $screen-md - 1) {
      height: 100%;
      & + & {
        margin-top: 20px;
      }
    }
  }

  &__pagination {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  &__items._mobile-carousel + &__pagination {
    @media (max-width: $screen-md - 1) {
      display: none;
    }
  }

  &__link,
  &__button {
    display: flex;
    justify-content: center;
  }
}


.l-secondary-item {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border-radius: 30px;
  overflow: hidden;

  &__pic {
    display: block;
    height: 255px;
  }

  &__pic-img {
    @include img-fit();
  }

  &__info {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: linear-gradient(180deg, #FFE093 0%, #FFD15C 100%);
    padding: 30px 20px 32px;
    flex-grow: 1;
  }

  &__stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(~images/bg/card_secondary_stars.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  &__title {
    position: relative;
    font-weight: 600;
    color: #232245;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    @media (min-width: $screen-md) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__link {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}