<ul class="navbar-nav">
    {% for item in menu %}
        <li class="navbar-nav__item-wr {% if item.mod %}navbar-nav__item-wr_{{ item.mod }}{% endif %}">
            <div class="navbar-nav__item">
                <a {% if item.page %}data-page="{{ item.page }}"{% endif %}
                   href="{{ item.target | default(item.link) }}"
                   class="{{ item.js | default('') }} navbar-nav__link navbar__link g-va{% if this.page.active_link == item.title %} is-active{% endif %}">
                    <span class="navbar-nav__link-text">{{ item.title|raw }}</span>
                </a>
                {% if item.submenu %}
                    <ul class="navbar-nav__submenu js-dropdown-menu" id="navbarSubmenuCollapse{{ loop.index }}">
                        {% for subitem in item.submenu %}
                            <li class="navbar-nav__submenu-item">
                                <a {% if subitem.page %}data-page="{{ subitem.page }}"{% endif %}
                                   href="{{ subitem.target | default(subitem.link) }}"
                                   class="{{ subitem.js | default('') }} navbar-nav__sublink">
                                    <span class="navbar-nav__sublink-text">{{ subitem.title }}</span>
                                    {% if subitem.icon %}
                                        <span class="navbar-nav__sublink-icon">
                                                                                    {{ svg_icon({name: subitem.icon, mod: 'navbar-nav__sublink-icon-svg'}) }}
                                                                                </span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>