{% set menuPart1 = [
    {
        "title": "Главная",
        "link": "/",
        "js": "js-navbar-nav-link",
        "target": "",
        "mod": "",
        "page": "/"
    },
    {
        "title": "О нас",
        "link": "/investors",
        "js": "js-navbar-nav-link",
        "target": "",
        "mod": "",
        "page": "/"
    },
    {
        "title": "Игровые программы",
        "link": "/borrowers",
        "js": "js-navbar-nav-link",
        "target": "",
        "mod": "",
        "page": "/"
    },
    {
        "title": "Шоу-программы",
        "link": "/brokers",
        "js": "js-navbar-nav-link",
        "target": "",
        "mod": "",
        "page": "/"
    }
] %}

{% set menuPart2 = [
    {
        "title": "Организаторам",
        "link": "/",
        "js": "js-navbar-nav-link",
        "target": "",
        "mod": "",
        "page": "/"
    },
    {
        "title": "Ещё услуги",
        "link": "/investors",
        "js": "js-navbar-nav-link",
        "target": "",
        "mod": "",
        "page": "/"
    },
    {
        "title": "Отзывы",
        "link": "/borrowers",
        "js": "js-navbar-nav-link",
        "target": "",
        "mod": "",
        "page": "/"
    },
    {
        "title": "Бронирование",
        "link": "/brokers",
        "js": "js-navbar-nav-link",
        "target": "",
        "mod": "",
        "page": "/"
    }
] %}

<div class="navbar js-navbar {{ this.page.navbar_mod }}{% if inverted %} _inverted{% endif %}">
    <div class="navbar__bg"></div>
    <div class="container">
        <div class="navbar__inner">
            <div class="navbar__toggle">
                <button type="button" class="navbar-toggle" data-target="#navbarSandwichCollapse">
                    <div class="navbar-toggle__inner">
                        <span class="navbar-toggle__sep"></span>
                        <span class="navbar-toggle__sep"></span>
                        <span class="navbar-toggle__sep"></span>
                        <span class="navbar-toggle__sep"></span>
                    </div>
                </button>
            </div>
            <div class="navbar__info">
                <div class="navbar__schedule navbar-schedule d-none d-md-flex">
                    {{ svg_icon({name: 'clockface', mod: 'navbar-schedule__icon'}) }}
                    <span class="navbar-schedule__text">Ежедневно с 10:00 до 23:00</span>
                </div>
                <div class="navbar__address">
                    <a href="" class="navbar-address">
                        {{ svg_icon({name: 'map_marker_small', mod: 'navbar-address__icon'}) }}
                        <span class="navbar-address__text">730 W Hallandale Beach Blvd, Hallandale Beach</span>
                    </a>
                </div>
                <div class="navbar__phone">
                    <a href="tel:3058575570" class="navbar-phone">
                        {{ svg_icon({name: 'call', mod: 'navbar-phone__icon'}) }}
                        <span class="navbar-phone__text">305-857-5570</span>
                    </a>
                </div>
                <div class="navbar__langs">RUS</div>
                <div class="navbar__social">
                    <div class="navbar-social">
                        {% for item in [{icon: 'ig', link: ''}, {icon: 'fb', link: ''}] %}
                            <div class="navbar-social__item">
                                <a href="{{ item.link }}" class="navbar-social__link">
                                    {{ svg_icon({name: item.icon, mod: 'navbar-social__svg'}) }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <a href="" class="navbar__logo d-xl-none js-navbar-logo-mobile">
                        <span class="navbar__logo-inner">
                            <img src="{{ 'images/logo/main.png' | assets }}" alt="" title="">
                        </span>
            </a>
            <div class="navbar__menu-wr js-sandwich-collapse" id="navbarSandwichCollapse">
                <div class="navbar__menu js-navbar-menu">
                    <div class="navbar__menu-nav">
                        {% partial "common/navbar-menu.htm" menu = menuPart1 %}
                    </div>
                    <a href="" class="navbar__logo d-none d-xl-block">
                        <span class="navbar__logo-inner">
                            <img src="{{ 'images/logo/main.png' | assets }}" alt="" title="">
                        </span>
                    </a>
                    <div class="navbar__menu-nav">
                        {% partial "common/navbar-menu.htm" menu = menuPart2 %}
                    </div>
                    <div class="navbar__info _mobile-bottom">
                        <div class="navbar__schedule navbar-schedule d-md-none">
                            {{ svg_icon({name: 'clockface', mod: 'navbar-schedule__icon'}) }}
                            <span class="navbar-schedule__text">Ежедневно с 10:00 до 23:00</span>
                        </div>
                        <div class="navbar__address">
                            <a href="" class="navbar-address">
                                {{ svg_icon({name: 'map_marker_small', mod: 'navbar-address__icon'}) }}
                                <span class="navbar-address__text">730 W Hallandale Beach Blvd, Hallandale Beach</span>
                            </a>
                        </div>
                        <div class="navbar__langs">RUS</div>
                        <div class="navbar__social">
                            <div class="navbar-social">
                                {% for item in [{icon: 'ig', link: ''}, {icon: 'fb', link: ''}] %}
                                    <div class="navbar-social__item">
                                        <a href="{{ item.link }}" class="navbar-social__link">
                                            {{ svg_icon({name: item.icon, mod: 'navbar-social__svg'}) }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>