<ul class="l-primary">
    {% for item in list %}
        <li class="l-primary__item">
            <div class="l-primary-item {{ loop.index is even ? '_even' : '_odd' }}">
                <div class="l-primary-item__pic">
                    <img src="{{ item.pic | assets }}" alt="" title="" class="l-primary-item__pic-img">
                </div>
                <div class="l-primary-item__info">
                    <span class="l-primary-item__stars"></span>
                    <h4 class="l-primary-item__title">{{ item.title }}</h4>
                    {% for prop in item.props %}
                        <span class="l-primary-item__prop">{{ prop }}</span>
                    {% endfor %}
                    <p class="l-primary-item__desc">{{ item.desc }}</p>
                </div>
                <div class="l-primary-item__button">
                    {% partial "button.htm" text = 'Заказать праздник' %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>