<div class="l-secondary">
    <ul class="l-secondary__items{% if carouselMobileJsClass %} _mobile-carousel _mobile-arrow-green {{ carouselMobileJsClass }}{% endif %}">
        {% for item in list %}
            <li class="l-secondary__item col-12 col-md-6 col-xl-3"{% if carouselMobileJsClass %} data-dot="<button role='button' class='owl-dot__button'><span class='owl-dot__button-bg _regular'></span><span class='owl-dot__button-bg _active'></span><span class='owl-dot__button-inner'>{{ loop.index }}</span></button>"{% endif %}>
                <div class="l-secondary-item">
                    <div class="l-secondary-item__pic">
                        <img src="{{ item.pic | assets }}" alt="" title="" class="l-secondary-item__pic-img">
                    </div>
                    <div class="l-secondary-item__info">
                        <span class="l-secondary-item__stars"></span>
                        <h4 class="l-secondary-item__title">{{ item.title }}</h4>
                        <a href="{{ slide.link }}" class="l-secondary-item__link link">Подробнее</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if pagination %}
        <div class="l-secondary__pagination">
            {% partial "pagination.htm" page_count = pagination.count %}
        </div>
    {% endif %}
    {% if link %}
        <div class="l-secondary__link">
            {% partial "button.htm" text = link.text is_link = true link_href = link.href %}
        </div>
    {% endif %}
    {% if button %}
        <div class="l-secondary__button">
            {% partial "button.htm" text = button.text mod = button.mod %}
        </div>
    {% endif %}
</div>