$BFont-size: 14px;
$BLine-height: 1.2;
$BFont-color: #000000;
$DTransition: all ease-out 300ms;
$DTransitionDuration: 300ms;
$DTransitionFunction: ease-out;

$FPFBeauSansPro: 'PFBeauSansPro';
$FNotoSans: 'NotoSans';

$FBase:             $FPFBeauSansPro, Arial, sans-serif;
//$FBebasNeueRegular: 'BebasNeue Regular';

// USED FONTS
// ------------------------------------
$FDefault:              $FBase;


//USED COLORS
//$CWhite: #ffffff;
//$CBlack: #000000;
//$CBlue: #007EE1;
