@mixin placeholder($color: $BFont-color, $align: left) {
  // Firefox
  &::-moz-placeholder {
    text-align: $align;
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: $color; text-align: $align; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; text-align: $align; } // Safari and Chrome
}
