.b-extra {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-md) {
    width: 400px;
  }
  @media (min-width: $screen-xl) {
    width: 1200px;
  }

  &__carousel {

  }

  &__button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    @media (min-width: $screen-md) {
      margin-top: 40px;
    }
  }
}

.b-extra-carousel {
  $height: 320px;

  @include carousel-arrows();
  @media (max-width: $screen-md - 1) {
      @include carousel-dots-mobile;
    margin: 0 -10px;
    &.owl-carousel {
      width: calc(100% + 20px) !important;
    }
    .owl-nav {
      top: 40%;
      width: 100%;
    }
  }
  @media (min-width: $screen-md) {
    .owl-nav {
      @media (min-width: $screen-md) {
        width: calc(100% + 100px);
      }
      @media (min-width: $screen-xl) {
        width: calc(100% - 700px);
      }
    }
  }

  &__slide {
    height: inherit;
    @media (max-width: $screen-md - 1) {
      padding: 0 10px;
    }
    @media (min-width: $screen-md) {
      transform: scale(.8);
      transition: transform .7s;
    }
  }

  .owl-stage-outer {
    @media (min-width: $screen-md) {
      overflow: visible!important;
    }
  }

  .owl-stage {
    @media (min-width: $screen-md) {
      height: $height;
      display: flex;
      align-items: center;
    }
  }

  .owl-item {
    @media (min-width: $screen-md) {
      height: inherit;

      & > div {
        height: inherit;
      }
    }
  }

  .owl-item.center &__slide{
    @media (min-width: $screen-md) {
      transform: scale(1);
    }
  }
}

.b-extra-carousel-slide {
  border-radius: 30px;
  overflow: hidden;
  height: inherit;
  @media (max-width: $screen-md - 1) {
    height: 240px;
  }

  &__pic {
    height: 80%;
    position: relative;

    img {
      width: auto;
      height: 100%;
    }

    &:after {
      content: '';
      z-index: 10;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#9370DF, .3);
      transition: opacity 1s;
    }
    .owl-item.center &:after {
      opacity: 0;
    }
  }

  &__menu {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 19px;
    background: linear-gradient(180deg, #26D999 -21.67%, #0F6376 123.33%);
    @media (min-width: $screen-md) {
      padding: 20px 32px;
    }
  }
  &__title {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    @media (min-width: $screen-md) {
      font-size: 19px;
      line-height: 23px;
    }
  }

  &__link {
    margin-left: 20px;
  }
}