.b-form {
  background: linear-gradient(180deg, #26D999 0%, #0F6376 100%);
  box-shadow: inset 0px 4px 60px rgba(0, 0, 0, 0.4);
  
  height: 100vh;
  position: relative;
  padding-top: 30px;
  @media (min-width: $screen-md) {
    padding-top: 90px;
  }
  @media (min-width: $screen-xl) {
    padding-top: 390px;
  }

  &__hill {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    font-size: 0;
    width: 150%;
    @media (min-width: $screen-md) {
      width: 1500px;
      bottom: -50px;
    }
    @media (min-width: $screen-xl) {
      bottom: 0;
      width: 2000px;
    }

    img {

    }
  }

  &__inner {

  }

  &__title {
    font-weight: bold;
    color: #FFFFFF;
    max-width: 550px;
    font-size: 24px;
    line-height: 29px;
    @media (min-width: $screen-md) {
      font-size: 48px;
      line-height: 58px;
    }
  }

  &__desc {
    margin-top: 10px;
    font-family: $FNotoSans;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__button {
    margin-top: 34px;
  }

  &__bus {
    position: absolute;
    width: 278px;

    right: 40px;
    bottom: 33px;
    @media (min-width: $screen-md) {
      width: 696px;
      bottom: 100px;
    }
    @media (min-width: $screen-xl) {
      width: 900px;
      bottom: 213px;
    }
  }
  &__decoration {
    position: absolute;
    top: -5px;
    right: -5px;
    transform: rotateY(180deg);
    width: 40%;
    @media (min-width: $screen-md) {
      width: 317px;
    }
    @media (min-width: $screen-xl) {
      width: 450px;
      top: -5px;
      left: -5px;
      right: auto;
      transform: none;
    }
  }
}