.b-games {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;

  &__filter {
    @media (max-width: $screen-md - 1) {
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__list {
    margin: 20px -10px 0;
    max-width: calc(100% + 20px);
    @media (min-width: $screen-md) {
      width: 592px;
      margin-top: 40px;
    }
    @media (min-width: $screen-xl) {
      width: 100%;
    }
  }

  &__pagination {
    text-align: center;
    @media (max-width: $screen-md - 1) {
      display: none;
    }
    @media (min-width: $screen-md) {
      margin-top: 40px;
    }
    @media (min-width: $screen-xl) {
      margin-top: 60px;
    }
  }

  &__button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

.b-games-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include gutters(10px);
  @media (min-width: $screen-md) {
    @include gutters(20px);
  }
  @media (min-width: $screen-xl) {
    justify-content: space-between;
  }

  &__gender {
    width: 202px;
    z-index: 3;
  }

  &__age {
    width: 230px;
    z-index: 2;
  }

  &__theme {
    width: 212px;
    z-index: 1;
  }

  &__puppets {
    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      margin-top: 30px;
    }
  }

  &__clear {
    //margin-left: 120px;
    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      margin-top: 30px;
      margin-left: 42px;
    }
    @media (min-width: $screen-xl) {
      margin-left: 120px;
    }
  }
}

.b-games-list {
  display: flex;
  align-items: stretch;

  @media (max-width: $screen-md - 1) {
    width: 100%;
    @include carousel-arrows();
    @include carousel-dots-mobile();
    .owl-nav {
      width: 100%;
      top: calc(100% + 20px);
    }
    .owl-dots {
      display: none;
    }
  }

  &__item {
    padding: 10px;
    @media (min-width: $screen-md) {
      &:nth-child(n + 5) {
        display: none;
      }
    }
    @media (min-width: $screen-xl) {
      &:nth-child(n + 9) {
        display: none;
      }
    }
  }
}

.b-games-list-item {
  position: relative;
  height: 437px;
  border-radius: 30px;
  overflow: hidden;

  &__pic {
    height: 57%;
    width: 100%;
    position: relative;
  }

  &__pic-img {
    @include img-fit();
  }

  &__info {
    height: 43%;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #232245;
  }

  &__link {
    margin-top: 20px;
  }
}

.b-games-list-item-info {
  background: linear-gradient(180deg, #FFE093 0%, #FFD15A 100%);
  padding: 31px 42px 32px;
  position: relative;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(~images/bg/games_card.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}