.b-how {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-md) {
    max-width: 666px;
  }
  @media (min-width: $screen-xl) {
    max-width: 1000px;
  }

  &__list {

  }
}

.b-how-list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $screen-md) {
    @include gutters(40px);
  }
  @media (min-width: $screen-xl) {
    @include gutters(108px);
  }

  &__item {
    @media (max-width: $screen-md - 1) {
      & + & {
        margin-top: 72px;
      }
    }
  }
}

.b-how-list-item {
  position: relative;

  &__arrow {
    top: 50%;
    position: absolute;
    overflow: hidden;
    height: 22px;
    @media (max-width: $screen-md - 1) {
      transform: translateX(-50%) rotate(90deg);
      width: 50px;
      left: 50%;
      top: -50px;
    }
    @media (min-width: $screen-md) {
      width: 60px;
      left: -51px;
    }
    @media (min-width: $screen-xl) {
      width: 98px;
      left: -103px;
    }
  }
  &__arrow-inner {
    position: absolute;
    width: 98px;
    right: 0;
    top: 0;
  }
  &__arrow-svg {
    color: #7B45EC;
  }

  &__icon {
    width: 100%;
    @media (min-width: $screen-md) {
      height: 188px;
    }
    @media (min-width: $screen-xl) {
      height: 251px;
    }
  }
  &__icon-img {
    width: 100%;
  }

  &__desc {
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
    color: #232245;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 19px;
      margin-top: 30px;
    }
  }
}