.b-partners {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-md) {
    max-width: 1000px;
  }

  &__list {

  }
}

.b-partners-list {
  display: flex;
  align-items: stretch;
  @media (max-width: $screen-md - 1) {
      flex-flow: column nowrap;
  }
  @media (min-width: $screen-md) {
    @include gutters(40px);
  }
  @media (min-width: $screen-xl) {
    @include gutters(108px);
  }

  &__item {
    @media (max-width: $screen-md - 1) {
        & + & {
          margin-top: 30px;
        }
    }
  }
}

.b-partners-list-item {

  &__icon {
    width: 100%;
    height: auto;
  }

  &__title {
    margin-top: 11px;
    font-weight: 600;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #232245;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 19px;
      margin-top: 30px;
    }
  }
}