.b-photos {
  &__carousel {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-md) {
      width: 592px;
    }
    @media (min-width: $screen-xl) {
      width: 1200px;
    }
  }
}

.b-photos-carousel {
  $height: 404px;

  @include carousel-arrows();
  @media (max-width: $screen-md - 1) {
    @include carousel-dots-mobile;
    margin: 0 -10px;
    &.owl-carousel {
      width: calc(100% + 20px) !important;
    }
    .owl-nav {
      top: 40%;
      width: 100%;
    }
    .owl-dots {
      display: none;
    }
  }
  @media (min-width: $screen-md) {
    .owl-nav {
      @media (min-width: $screen-md) {
        width: calc(100% + 100px);
      }
      @media (min-width: $screen-xl) {
        width: calc(100% - 700px);
      }
    }
  }

  &__slide {
    height: inherit;
    @media (max-width: $screen-md - 1) {
      padding: 0 10px;
    }
    @media (min-width: $screen-md) {
      transform: scale(.8);
      transition: transform .7s;
    }
  }

  .owl-stage-outer {
    @media (min-width: $screen-md) {
      overflow: visible!important;
    }
  }

  .owl-stage {
    @media (min-width: $screen-md) {
      height: $height;
      display: flex;
      align-items: center;
    }
  }

  .owl-item {
    @media (min-width: $screen-md) {
      height: inherit;

      & > div {
        height: inherit;
      }
    }
  }

  .owl-item.center &__slide{
    @media (min-width: $screen-md) {
      transform: scale(1);
    }
  }
}

.b-photos-carousel-slide {
  border-radius: 30px;
  overflow: hidden;
  height: inherit;
  position: relative;

  &:after {
    content: '';
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#9370DF, .3);
    transition: opacity 1s;
  }
  .owl-item.center &:after {
    opacity: 0;
  }
}