.b-shows {
  margin-top: -30px;
  @media (max-width: $screen-md - 1) {
    margin-left: -20px;
    width: 100vw;
  }

  &__carousel {
    max-width: 858px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    @media (min-width: $screen-md) {
      max-width: 727px;
    }
    @media (min-width: $screen-xl) {
      max-width: 858px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    @media (min-width: $screen-md) {
      margin-top: 50px;
    }
    @media (min-width: $screen-xl) {
      margin-top: 40px;
    }
  }
}

.b-shows-carousel {
  @include carousel-arrows();
  @media (max-width: $screen-md - 1) {
    @include carousel-dots-mobile;
    .owl-dots {
      padding: 0 10px;
    }
    .owl-nav {
      top: 26%;
      width: calc(100% - 20px);
    }
    .owl-prev__content,
    .owl-next__content {
      background: linear-gradient(180deg, #FFCB46 0%, #FFB700 100%);
    }
    .owl-prev__svg,
    .owl-next__svg {
      color: #232245;
    }
  }
  @media (min-width: $screen-md) {
    width: 727px;

    .owl-nav {
      top: 93%;
      width: 100%;
    }

    .owl-dots {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 324px;
      margin-left: auto;
      margin-right: auto;
      bottom: -84px;
    }

    .owl-dot {
      padding: 0 12px;

      &__button {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        transition: background-color .4s;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        @include link_area;

        @media (min-width: $screen-md) {
          width: 30px;
          height: 30px;
        }
      }
    }
    .owl-dot.active .owl-dot__button,
    .owl-dot__button:hover {
      color: #232245;
      background-color: #FFFFFF;
    }
    .owl-dot:nth-child(n + 7) {
      margin-top: 20px;
    }
  }
  @media (min-width: $screen-xl) {
    width: 845px;

    .owl-nav {
      top: 46%;
      width: calc(100% + 344px);
    }

    .owl-dots {
      position: absolute;
      left: 70px;
      top: 437px;
      margin-left: -12px;
      margin-right: -12px;
    }
  }

  &__slide {
    width: 100vw;
    @media (min-width: $screen-md) {
      width: 727px;
      padding: 30px;
    }
    @media (min-width: $screen-xl) {
      width: 845px;
    }
  }
}

.b-shows-carousel-slide {
  width: 100%;
  //display: flex;
  justify-content: flex-end;
  position: relative;
  @media (min-width: $screen-md) {
    height: 475px;
  }

  &__preview {
    //display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    @media (max-width: $screen-md - 1) {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 240px;
      height: 240px;
    }
    @media (min-width: $screen-md) {
      width: 256px;
      height: 256px;
      left: 0;
      position: absolute;
      top: 0;
    }
    @media (min-width: $screen-xl) {
      width: 370px;
      height: 370px;
      top: 7px;
    }
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 100%;
    background: linear-gradient(180deg, #FFE27A 0%, #FFD705 100%);
    @media (max-width: $screen-md - 1) {
      margin-top: -40px;
      padding: 20px 30px 24px;
      position: relative;
    }
    @media (min-width: $screen-md) {
      position: absolute;
      right: 0;
      top: 0;
      padding: 70px 63px 50px;
      width: 475px;
      height: 475px;
      border-radius: 50%;
    }
  }

  &__title {
    max-width: 90%;
    display: inline-block;
    font-weight: 600;
    color: #232245;
    font-size: 18px;
    line-height: 22px;
    @media (min-width: $screen-md) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__desc {
    margin-top: 10px;
    @media (min-width: $screen-md) {
      margin-top: 30px;
    }
  }

  &__text {
    font-family: $FNotoSans;
    color: #232245;
    font-size: 12px;
    line-height: 16px;
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 22px;
    }

    & + & {
      margin-top: 10px;
    }
  }

  &__link {
    margin-top: 20px;
    @media (min-width: $screen-md) {
      margin-top: 40px;
    }
  }
}