.b-team {
  &__list {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-md) {
      max-width: 592px;
    }
    @media (min-width: $screen-xl) {
      max-width: 100%;
    }
  }

  &__pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    @media (min-width: $screen-md) {
      margin-top: 50px;
    }
    @media (min-width: $screen-xl) {
      margin-top: 70px;
    }
  }
}

.b-team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  @include gutters(20px);

  &__item {
    &:nth-child(n + 5) {
      margin-top: 20px;
    }
    @media (max-width: $screen-xl - 1) {
      &:nth-child(n + 3) {
        margin-top: 20px;
      }
    }
    @media (max-width: $screen-md - 1) {
        & + & {
          margin-top: 20px;
        }
    }
  }
}

.b-team-list-item {
  border-radius: 30px;
  overflow: hidden;

  &__pic {
    font-size: 0;
  }
  
  &__info {
    position: relative;
    background: linear-gradient(180deg, #FFE093 0%, #FFD15A 100%);
    padding: 30px 20px;
  }
  
  &__stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(~images/bg/team_card.svg);
    z-index: 0;
  }
  
  &__name {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #232245;
  }
  
  &__desc {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #232245;
    margin-top: 6px;
    font-family: $FNotoSans;
  }
}