.b-testimonials {
  &__list {

  }

  &__pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    @media (min-width: $screen-md) {
      margin-top: 50px;
    }
    @media (min-width: $screen-xl) {
      margin-top: 70px;
    }
  }
}

.b-testimonials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -10px;
  margin-right: -10px;

  @media (max-width: $screen-md - 1) {
    //width: 100%;
    &._mobile-carousel {
      @include carousel-arrows();

      &:not(._secondary) {
        @include carousel-dots-mobile();
      }
      &._secondary {
        @include carousel-dots();
      }


      &.owl-carousel {
        width: calc(100% + 20px);
      }

      .owl-stage {
        display: flex;
        align-items: stretch;
      }
      .owl-item {
        float: none!important;
      }

      .owl-nav {
        width: 100%;
        top: 72.8%;
      }
      .owl-dots {
        margin-top: 40px;
      }

      &._secondary .owl-nav {

      }
      &:not(._secondary) .owl-nav {
        width: 100%;
        top: 75%;
      }
    }
    &:not(._carousel-mobile) {

    }
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    @media (max-width: $screen-md - 1) {
      height: 100%;
    }
  }
  &__item:nth-child(n + 4) {
    margin-top: 20px;
  }
  @media (max-width: $screen-xl - 1) {
    &__item:nth-child(n + 3) {
      margin-top: 20px;
    }
  }
  @media (max-width: $screen-md - 1) {
    &__item + &__item {
      margin-top: 20px;
    }
  }
}

.b-testimonials-list-item {
  background: linear-gradient(180deg, #FFE093 0%, #FFD15C 100%);
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  height: 100%;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(~images/bg/testimonials_card.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  &__inner {
    position: relative;
    padding: 20px;
    padding-bottom: 40px;
    @media (min-width: $screen-md) {
      padding: 40px;
      padding-bottom: 65px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #232245;
    @media (min-width: $screen-md) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__text {
    margin-top: 10px;
    font-family: $FNotoSans;
    font-size: 12px;
    line-height: 16px;
    color: #232245;
    @media (min-width: $screen-md) {
      font-size: 16px;
      line-height: 22px;
      margin-top: 20px;
    }

    p + p {
      margin-top: 5px;
    }
  }
}