.b-why {
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $screen-md - 1) {
    max-width: 209px;
  }
  @media (min-width: $screen-md) {
    max-width: 472px;
  }
  @media (min-width: $screen-xl) {
    max-width: 998px;
  }

  &__list {

  }
}

.b-why-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $screen-md - 1) {
    @include carousel-arrows();
    @include carousel-dots-mobile();
    .owl-nav {
      width: 86vw;
    }
  }
  @media (min-width: $screen-xl) {
    @include gutters(54px);
  }

  &__item {
    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
        &:nth-child(n + 3) {
          margin-top: 50px;
        }
    }
  }
}

.b-why-list-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__icon {

  }

  &__desc {
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #232245;
    max-width: 77%;
    @media (min-width: $screen-md) {
      margin-top: 30px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}