<nav aria-label="breadcrumb" class="breadcrumb">
    <div class="container">
        <ol class="breadcrumb__list">
            {% for item in list %}
                <li class="breadcrumb__item{% if item.active %} active{% endif %}">
                    {% if not loop.first %}
                        {{ svg_icon({name: 'angle', mod: 'breadcrumb__angle'}) }}
                    {% endif %}
                    {% if item.active %}
                        <span>{{ item.title }}</span>
                    {% else %}
                        <a href="#" class="breadcrumb__link breadcrumb-link">
                            <span class="breadcrumb-link__text">{{ item.title }}</span>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
</nav>