<{% if is_link %}a{% else %}button{% endif %}
        {% if button_type %}type="{{ button_type }}"{% endif %}
        {% if link_href %}href="{{ link_href }}"{% endif %}
        class="button{% if mod %} {{ mod }}{% endif %}"
>
    <span class="button__inner">
        <span class="button__bg"></span>
        <span class="button__shadow"></span>
        <span class="button__text">{{ text }}</span>
    </span>
</{% if is_link %}a{% else %}button{% endif %}>