{% macro input (params) %}
    <label class="form-text is-empty js-form-text {{ params.mod | default('') }}" data-count="1">
        <span class="form-text__bg _regular"></span>
        <span class="form-text__bg _hover"></span>
        <span class="form-text__bg _active"></span>
        <span class="form-text__title js-title">{{ params.title | raw }}</span>
        <input class="{{ params.inputMod | default('') }} form-text__field" type="{{ params.type|default('text') }}" {% if params.required %} required {% endif %} name="{{ params.name }}" placeholder="{{ params.placeholder }}"{% if params.required %} required{% endif %}>
    </label>
{% endmacro %}

{% macro textarea (params) %}
    <label class="form-text _textarea is-empty js-form-text {{ params.mod | default('') }}">
        <span class="form-text__bg _regular"></span>
        <span class="form-text__bg _hover"></span>
        <span class="form-text__bg _active"></span>
        <span class="form-text__title">{{ params.title }}</span>
        <textarea class="form-text__field" {% if params.required %} required {% endif %} name="{{ params.name }}" placeholder="{{ params.placeholder }}"></textarea>
    </label>
{% endmacro %}

{%  macro select (params) %}
    <div class="form-select js-select{% if params.mod %} {{ params.mod }}{% endif %}"{% if params.dataField %} data-field="{{ params.dataField }}"{% endif %}>
        <select name="{{ params.name }}" data-title="{{ params.title }}" class="form-select__field">
            {% for item in params.options %}
                <option value="{{ item.value }}">{{ item.title }}</option>
            {% endfor %}
        </select>
        <div class="selectaps js-selectaps {% if params.theme %}{{ params.theme }}{% else %}_t-one{% endif %}">
            <div class="selectaps__inner">
                <div class="selectaps__selection">
                    <button type="button" class="selectaps-selection js-selectaps-selection">
                        <span class="selectaps-selection__text js-selectaps-selection-title">{{ params.title }}</span>
                        <span class="selectaps-selection__arrow"></span>
                    </button>
                </div>
                <div class="selectaps__dropdown">
                    <div class="selectaps-dropdown js-selectaps-dropdown" data-open="false">
                        <ul class="selectaps-dropdown__list">
                            {% for item  in params.options %}
                                <li class="selectaps-dropdown__item js-selectaps-item" data-value="{{ item.value }}">
                                    <span class="selectaps-dropdown-item">
                                        <span class="selectaps-dropdown-item__inner">{{ item.title }}</span>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{%  macro elemsGroup (params) %}
    <div class="form-elems-group{% if params.mod %} {{ params.mod }}{% endif %}">
        <span class="form-elems-group__title">{{ params.title }}</span>
        <ul class="form-elems-group__list form-elems-group-list{% if params.countPerRowMod %} {{ params.countPerRowMod }}{% endif %}">
            {% for item in params.list %}
                <li class="form-elems-group-list__item">
                    <label class="form-elems-group-list-item{% if params.column %} _column{% endif %}">
                        <input type="{{params.type}}" name="{{params.name}}" value="{{ item.value }}"{% if loop.first %} checked{% endif %} class="form-elems-group-list-item__input js-form-elems-list-item-input">
                        <span class="form-elems-group-list-item__field _{{ params.type }}">
                            {% if item.pic %}
                                <span class="form-elems-group-list-item__pic">
                                    <img src="{{ item.pic | assets }}" alt="" class="">
                                </span>
                            {% endif %}
                            <span class="form-elems-group-list-item__title">{{ item.title }}</span>
                            <span class="form-elems-group-list-item__check">
                                <span class="form-elems-group-list-item__check-content">
                                    {% if params.type == 'checkbox' %}
                                        {{ svg_icon({name: 'check', mod: ''}) }}
                                    {% endif %}
                                </span>
                            </span>
                        </span>
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro changer (params) %}
    <div class="form-changer js-form-changer">
        <button type="button" class="form-changer__prev js-changer-prev"></button>
        <div class="form-changer__content js-changer-content{% if params.withInput %} _with-input{% endif %}">
            <input class="form-changer__input js-changer-input"{% if params.name %} name="{{ params.name }}"{% endif %}>
            <div class="form-changer__list is-active js-changer-list-wr">
                <div class="form-changer-list js-changer-list">
                    {% for item in params.list %}
                        <div class="form-changer-list__item js-changer-item-wr">
                            <div class="form-changer-list-item">{{ item }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button type="button" class="form-changer__next js-changer-next"></button>
    </div>
{% endmacro %}