<ul class="pagination{% if mod %} {{ mod }}{% else %} _green{% endif %}">
    <li class="pagination__link _arrow">
        <a class="pagination-link _prev" href="#">
            <span class="pagination-link__bg _regular"></span>
            <span class="pagination-link__bg _hover"></span>
            <span class="pagination-link__bg _active"></span>
            {{ svg_icon({name: 'arrow_small', mod: 'pagination-link__icon'}) }}
            <span class="pagination-link__text">{{ prev_text | default('Пред.') }}</span>
        </a>
    </li>
    {% for i in 1..page_count %}
        <li class="pagination__link">
            <a class="pagination-link{% if loop.first %} is-active{% endif %}" href="#">
                <span class="pagination-link__bg _regular"></span>
                <span class="pagination-link__bg _hover"></span>
                <span class="pagination-link__bg _active"></span>
                <span class="pagination-link__text">{{ i }}</span>
            </a>
        </li>
    {% endfor %}
    <li class="pagination__link _arrow">
        <a class="pagination-link _next" href="#">
            <span class="pagination-link__bg _regular"></span>
            <span class="pagination-link__bg _hover"></span>
            <span class="pagination-link__bg _active"></span>
            <span class="pagination-link__text">{{ prev_text | default('След.') }}</span>
            {{ svg_icon({name: 'arrow_small', mod: 'pagination-link__icon'}) }}
        </a>
    </li>
</ul>