<label for="" class="js-select select {{ wrapper_mod }}">
    <select name="" id="" class="{{ mod }}">
        {% for item in list %}
            <option class="b-games-filter-gender__item" value="{{ item.value }}">{{ item.title }}</option>
        {% endfor %}
    </select>
</label>