<section class="section section-primary">
    <div class="container">
        <div class="section-primary__inner">
            <h2 class="section-primary__title section-primary-title{% if titleMod %} {{ titleMod | raw }}{% endif %}">
                    <span class="section-primary-title__inner">
                        <span class="section-primary-title__line"></span>
                        <span class="section-primary-title__text">{{ title }}</span>
                    </span>
            </h2>
            {% if desc %}
                <p class="section-primary__description">{{ desc }}</p>
            {% endif %}
            <div class="section-primary__content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>