<section class="section section-secondary">
    <div class="section-secondary__bg">
        <div class="section-secondary__stars _top"></div>
        <div class="section-secondary__stars _bottom"></div>
    </div>
    <div class="container">
        <div class="section-secondary__inner">
            <h2 class="section-secondary__title">{{ title }}</h2>
            {% if desc %}
                {% for item in desc %}
                    <p class="section-secondary__description">{{ item }}</p>
                {% endfor %}
            {% endif %}
            <div class="section-secondary__content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>