.breadcrumb {
  margin-top: 11px;
  @media (max-width: $screen-xl - 1) {
    display: none;
  }

  &__list {
    padding-left: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #232245;
    display: flex;
    align-items: center;
  }
  &__item + &__item {
    margin-left: 10px;
  }

  &__angle {
    color: #706F93;
  }

  &__angle + * {
    margin-left: 10px;
  }
}

.breadcrumb-link {
  color: #706F93;
  transition: color .4s;

  &:hover {
    color: #232245;
  }

  &__text {
    margin: -5px;
    padding: 5px;
  }
}