.button {
  display: inline-block;
  height: 40px;
  position: relative;
  z-index: 0;
  @media (min-width: $screen-md) {
    height: 49px;
  }

  &__inner {
    display: block;
    position: relative;
    height: calc(100% - 2px);
    width: 100%;
  }

  &__bg,
  &__shadow {
    display: block;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 24px;
  }
  &__bg {
    z-index: 1;
    top: 0;
    background: linear-gradient(180deg, #FFCB46 0%, #FFB700 100%);
  }
  &__shadow {
    z-index: 0;
    top: 2px;
    background-color: #AF8A2A;
  }

  &__text {
    z-index: 2;
    position: relative;
    padding: 13px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #0A0846;
    @media (min-width: $screen-md) {
      padding: 16px 35px;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.button-feedback {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 3;

  @media (max-width: $screen-md - 1) {
    display: none;
  }

  &[data-open=true] {
    z-index: 13;
  }

  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FF88D7 0%, #C72991 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    width: 58px;
  }

  &__icon {
    width: 100%;
    color: #FFFFFF;
  }
}
