.link {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #232245;
  border: 2px solid #232245;
  box-sizing: border-box;
  border-radius: 23.5px;
  padding: 8px 25px;
  transition: background-color .4s;
  @media (min-width: $screen-md) {
    padding: 8px 33px;
    font-size: 14px;
    line-height: 17px;
  }

  &._white {
    color: #FFFFFF;
    border-color: #FFFFFF;
  }

  &:hover,
  body:not(.mobile) &:active {
    background-color: #F16500;
  }
}