.pagination {
  display: inline-flex;

  &__link {
    padding: 0 5px;
    @media (min-width: $screen-md) {
      padding: 0 12px;
    }
  }
  &__link._arrow {
    padding: 0 10px;
    @media (min-width: $screen-md) {
      padding: 0 20px;
    }
  }
}

.pagination-link {
  width: 26px;
  height: 26px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include link_area;
  @media (min-width: $screen-md) {
    width: 30px;
    height: 30px;
  }

  &._prev,
  &._next {
    min-width: 85px;
  }

  &__bg {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 50%;
    transition: opacity .4s;
  }
  .pagination._green &__bg._regular {
    border: 2px solid #0EB77A;
  }
  .pagination._green &__bg._hover {
    background: linear-gradient(180deg, #26D999 0%, #0F7651 100%);
  }
  .pagination._green &:not(._prev):not(_next) &__bg._active {
    background: linear-gradient(180deg, #26D999 0%, #0F7651 100%);
  }
  .pagination._white &__bg._regular {
    border: 2px solid #FFFFFF;
  }
  .pagination._white &__bg._hover {
    background-color: #FFFFFF;
  }
  .pagination._white &:not(._prev):not(_next) &__bg._active {
    background-color: #FFFFFF;
  }

  &._prev &__bg,
  &._next &__bg {
    border-radius: 23.5px;
  }
  &._prev &__bg._regular,
  &._next &__bg._regular {
    border: none;
  }
  .pagination._green &._prev &__bg._regular,
  .pagination._green &._next &__bg._regular {
    background: linear-gradient(180deg, #26D999 0%, #0F7651 100%);
  }
  .pagination._green &._prev &__bg._hover,
  .pagination._green &._next &__bg._hover {
    background: linear-gradient(180deg, #00C3B7 0%, #004D4D 100%);
  }
  .pagination._green &._prev &__bg._active,
  .pagination._green &._next &__bg._active {
    background: #02978E;
  }
  .pagination._white &._prev &__bg._regular,
  .pagination._white &._next &__bg._regular {
    background-color: #FFFFFF;
  }
  .pagination._white &._prev &__bg._hover,
  .pagination._white &._next &__bg._hover {
    background: linear-gradient(180deg, #FF8A35 0%, #FF6B00 100%);;
  }
  .pagination._white &._prev &__bg._active,
  .pagination._white &._next &__bg._active {
    background-color: #F16500;
  }

  &:hover:not(.is-active) &__bg._hover,
  &:active &__bg._active,
  &.is-active:not(._prev):not(._next) &__bg._active,
  &:not(:hover):not(:active):not(.is-active) &__bg._regular {
    opacity: 1;
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    transition: color .4s;
  }
  .pagination._green &__text {
    color: #232245;
  }
  .pagination._green &._prev &__text,
  .pagination._green &._next &__text {
    color: #FFFFFF;
  }
  .pagination._green &:not(._prev):not(._next):hover &__text {
    color: #FFFFFF;
  }
  .pagination._green &:not(._prev):not(._next).is-active &__text {
    color: #FFFFFF;
  }

  .pagination._white &__text {
    color: #FFFFFF;
  }
  .pagination._white &._prev &__text,
  &._next &__text {
    color: #232245;
  }
  .pagination._white &:not(._prev):not(._next):hover &__text {
    color: #232245;
  }
  .pagination._white &:not(._prev):not(._next).is-active &__text {
    color: #232245;
  }
  .pagination._white &._prev:hover &__text,
  .pagination._white &._next:hover &__text,
  .pagination._white &._prev:active &__text,
  .pagination._white &._next:active &__text {
    color: #FFFFFF;
  }

  &__icon {
    position: relative;
    width: 12px;
    transition: color .4s;
  }
  .pagination._green &__icon {
    color: #FFFFFF;
  }
  .pagination._white &__icon {
    color: #232245;
  }
  &__text + &__icon,
  &__icon + &__text {
    margin-left: 3px;
  }
  .pagination._white &._prev:hover &__icon,
  .pagination._white &._next:hover &__icon,
  .pagination._white &._prev:active &__icon,
  .pagination._white &._next:active &__icon {
    color: #FFFFFF;
  }
  &._prev &__icon {
    transform: rotate(180deg);
  }
}