$dropdown-width-max : 260px;
$dropdown-width-max-lg : 463px;

.selection {
  width: 100%;
}

.select2-selection{
  cursor: pointer;

  &._form-select-container{
    min-width: 180px;
    background: linear-gradient(180deg, #26D999 0%, #0F7651 100%)!important;
    height: auto!important;
    outline: none!important;
    border-radius: 23.5px!important;
    overflow: hidden!important;
    border: none!important;
    position: relative;
    display: flex!important;
    align-items: center;
    padding: 16px 35px;
  }
  .select2-container--open &._form-select-container {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
  }

  &__rendered {
    flex-grow: 1;
    padding: 0!important;
  }

  &._form-select-container &__arrow{
    margin-left: 15px;
    position: relative!important;
    width: 12px!important;
    height: 6px!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
    transform-origin: 0 50%;
  }
  &._form-select-container &__arrow b{
    display: block!important;
    //position: static!important;
    //width: 18px!important;
    //height: 18px!important;
    top: 0!important;
    left: 0!important;
    margin-left: 0!important;
    margin-top: 0!important;
    border: 6px solid transparent!important;
    border-top: 6px solid #FFFFFF!important;
    //top: auto !important;
    //right: 14px;
    //display: none;
  }
  .select2-container--open &._form-select-container &__arrow{
    transform: rotateX(180deg);
  }
}

.select2-dropdown{
  &._form-select-dropdown {
    background-color: #F0F5FC;
    border-radius: 23.5px;
    border: none;
    width: $dropdown-width-max;
    transition: background-color .3s;
    padding: 0 20px;
    background: linear-gradient(180deg, #26D999 0%, #0F7651 100%);
    @media (min-width: $screen-lg) {
      width: $dropdown-width-max-lg;
    }
    .select2-results {
      //padding-bottom: 30px;
    }

    .select2-results__option {
      background: transparent!important;
      border-top: 1px solid #0E3A2A;
    }

    .select2-results__option--highlighted,
    .select2-results__option[aria-selected=true] {
      //color: #FEC637!important;
    }
  }

  &._form-select-dropdown .select2-results__options {
    max-height: 500px!important;
  }

  &._form-select-dropdown .select2-results__option{
    padding: 0!important;

    &[aria-selected=true] {
      //background-color: ;
    }
  }
}

.form-select-option{
  display: block;
  overflow: hidden;
  position: relative;
  padding: 16px 0;

  &__text{
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: color .3s;
    padding: 0 10px;
  }
  //.select2-results__option--highlighted &__text {
  //  color: #FEC637;
  //}

  .select2-results__option[aria-selected=true] &__text {
    color: #FEC637!important;
  }
}

.form-select-button {
  &__text {
    display: block;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.select2-container{
  width: 100% !important;

  &.form-select {
    background-color: transparent!important;
  }
  //&--open.product-select{
  //  width: 100% !important;
  //  //max-width: $dropdown-width-max;
  //  @media (min-width: $screen-lg) {
  //    max-width: $dropdown-width-max-lg;
  //  }
  //}
}