.video {
  height: 100%;
  width: 100%;
  position: relative;

  &__content {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }
  &__content-inner {
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
  }

  &__overlay {
    display: block;
    position: absolute;
    top: 0;
    //left: 50%;
    width: auto;
    height: 100%;
    transition: opacity .4s;

    img {
      height: 100%;
      width: auto;
    }
  }

  &__button {

  }
}

.video-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #0EB77A;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &__triangle {
    width: 9px;
    height: 18px;
    position: relative;
  }
  &__triangle:before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 18px;
    height: 18px;
    border: 9px solid transparent;
    border-left-color: #0EB77A;
  }
}