<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ 'images/favicon.ico'|assets }}" type="image/x-icon">
    <title>Markup</title>
    {#<link rel="stylesheet" href="{{ 'css/vendor.css'|assets }}">#}
    {#<link rel="stylesheet" href="{{ 'css/bundle.css'|assets }}">#}
    {% placeholder stylesheets %}
</head>
<body>
{% placeholder page_wrapper default %}
    <div class="page-wrapper">
        <div class="page-buffer">
            {% partial '../partials/common/navbar.htm' %}
            {% placeholder header %}
            <button type="button" class="button-feedback js-feedback-toggle" data-target="#modalFeedback" data-open="false">
                <span class="button-feedback__inner">
                    {{ svg_icon({name: 'feedback', mod: 'button-feedback__icon'}) }}
                </span>
            </button>
            {% placeholder content %}
            {% partial '../partials/common/navbar.htm' inverted = true %}
        </div>
    </div>
{% endplaceholder %}

{% placeholder page_footer default %}
    {#<div class="page-footer">#}
        {#{% placeholder footer default %}#}
            {#{% partial '../partials/common/footer.htm' %}#}
        {#{% endplaceholder %}#}
    {#</div>#}
{% endplaceholder %}

{% placeholder modals %}
{% partial 'modal/main/feedback.htm' id="modalFeedback" %}

<script src="{{'js/vendor.bundle.js'|assets}}"></script>
<script src="{{'js/bundle.js'|assets}}"></script>
{% placeholder javascripts %}
</body>
</html>