.selectaps {
  position: relative;
  z-index: 1;
  width: 100%;

  &__inner {

  }

  &__selection {
    height: 100%;
  }

  &__dropdown {

  }
}

.selectaps-selection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    white-space: nowrap;
    min-width: 0;
  }

  .selectaps._init &__text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__arrow {
    margin-left: 4px;
    position: relative;
    width: 12px;
    height: 6px;
    @media (min-width: $screen-md) {
      margin-left: 15px;
    }
  }
  &__arrow:before {
    content: '';
    display: inline-block;
    position: absolute;
    border: 6px solid transparent;
    top: 0;
    left: 0;
  }

}

.selectaps-dropdown {
  overflow: hidden;
  width: inherit;

  &[data-open=false] {
    height: 0;
    width: 0;
  }

  &__list {

  }


  &__item {
    cursor: pointer;
    border-top: 1px solid #0E3A2A;
  }

}

.selectaps-dropdown-item {
  display: inline-block;
  position: relative;

  &__inner {
    position: relative;
  }

  .selectaps-dropdown__item:hover &__inner,
  .selectaps-dropdown__item.is-selected &__inner {
    color: #FFFFFF;
  }
}

