.selectaps {

  &._t-one {
    height: 47px;
  }
  &._t-two {
    height: 60px;
  }

  &._t-one &__inner {
    background: linear-gradient(180deg, #26D999 0%, #0F7651 100%);
    border-radius: 23.5px;
  }
  &._t-two &__inner {
    background: linear-gradient(180deg, #FFE093 0%, #FFD15C 100%);
    border-radius: 28.7755px;
  }

}

.selectaps-selection {

  .selectaps._t-one & {
    height: 40px;
    padding: 13px 11px;
    @media (min-width: $screen-md) {
      height: 47px;
      padding: 15px 35px;
    }
  }
  .selectaps._t-two & {
    padding: 15px 35px;
    height: 60px;
  }

  .selectaps._t-one &__text {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $screen-md) {
      font-size: 14px;
      line-height: 17px;
    }
  }
  .selectaps._t-two &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232245;
  }

  .selectaps._t-one &__arrow:before {
    border-top-color: #FFFFFF;
  }
  .selectaps._t-two &__arrow:before {
    border-top-color: #232245;
  }

}

.selectaps-dropdown {
  .selectaps._t-one & {
    padding: 0 20px;
  }
  .selectaps._t-two & {
    padding: 0 35px;
  }

  .selectaps._t-two &__list {
    padding-bottom: 5px;
  }

  .selectaps._t-one &__item {
    padding: 15px 0;
  }
  .selectaps._t-two &__item {
    padding: 20px 0;
  }
}

.selectaps-dropdown-item {
  .selectaps._t-one & {
    padding: 0 15px;
  }
  .selectaps._t-two & {
    padding: 0;
  }

  .selectaps._t-two &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 30px);
    height: calc(100% + 15px);
    border-radius: 15px;
  }
  .selectaps._t-two .selectaps-dropdown__item:hover &:before,
  .selectaps._t-two .selectaps-dropdown__item.is-selected &:before {
    background-color: #F16500;
  }

  .selectaps._t-one &__inner {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  .selectaps._t-one & {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232245;
  }
}