@mixin btn {
  border: 2px solid #33712f;
  max-width: 184px;
  width: 100%;
  height: 51px;
  @include g-va;
  transition: $TnsDefault;

  &__text {
    text-transform: uppercase;
    color: #33712f;
    font-size: 14px;
  }

  &._full {
    max-width: none;
  }

  &:hover {
    background-color: #33712f;
  }

  &:hover &__text {
    color: #ffffff;
  }

  &:active {
    opacity: 0.5;
  }
};