@mixin carousel-arrows() {
  .owl-nav {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    left: 50%;
    width: 100%;
  }

  .owl-prev,
  .owl-next {
    z-index: 10;
    width: 50px;
    height: 50px;
    @media (min-width: $screen-md) {
      width: 74px;
      height: 74px;
    }

    &__inner {
      width: inherit;
      height: 100%;
      position: relative;
      display: block;
    }

    &__content {
      position: absolute;
      left: 0;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__svg {
      width: 15px;
      @media (min-width: $screen-md) {
        width: 20px;
      }
    }
  }
  &.owl-carousel .owl-prev__content,
  &.owl-carousel .owl-next__content {
    background: linear-gradient(180deg, #FFCB46 0%, #FFB700 100%);
  }
  &.owl-carousel._mobile-arrow-green .owl-prev__content,
  &.owl-carousel._mobile-arrow-green .owl-next__content {
    @media (max-width: $screen-md - 1) {
      background: linear-gradient(180deg, #26D999 0%, #0F7651 100%);
    }
  }
  &.owl-carousel .owl-prev__svg,
  &.owl-carousel .owl-next__svg {
    color: #232245;
  }
  &.owl-carousel._mobile-arrow-green .owl-prev__svg,
  &.owl-carousel._mobile-arrow-green .owl-next__svg {
    @media (max-width: $screen-md - 1) {
      color: #FFFFFF;
    }
  }

  .owl-prev__svg {
    transform: rotate(180deg);
  }
}

@mixin carousel-dots() {

  .owl-dots {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 324px;

    @media (min-width: $screen-md) {
      bottom: -84px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: $screen-xl) {
      position: absolute;
      left: 70px;
      top: 437px;
      margin-left: -12px;
      margin-right: -12px;
    }
  }

  .owl-dot {
    padding: 0 12px;

    &__button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      transition: background-color .4s;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      @include link_area;
    }
  }
  .owl-dot.active .owl-dot__button,
  .owl-dot__button:hover {
    color: #232245;
    background-color: #FFFFFF;
  }
  .owl-dot:nth-child(n + 7) {
    margin-top: 20px;
  }

}

@mixin carousel-dots-mobile() {
  .owl-nav {
    width: calc(100% + 80px);
  }
  .owl-prev__content,
  .owl-next__content {
    background: linear-gradient(180deg, #26D999 0%, #0F7651 100%);
    color: #FFFFFF;
  }

  .owl-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    @media (min-width: $screen-md) {
      max-width: 324px;
    }
  }

  .owl-dot {
    padding: 0 10px;

    &__button {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      transition: background-color .4s;
      display: flex;
      justify-content: center;
      align-items: center;
      @include link_area;
    }

    &__button-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-sizing: border-box;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .4s;
    }
    &__button-bg._regular {
      border: 2px solid #0EB77A;
    }
    &__button-bg._active {
      background: linear-gradient(180deg, #26D999 0%, #0F7651 100%);
    }
    &.active .owl-dot__button-bg._active,
    &__button:hover .owl-dot__button._active {
      opacity: 1;
    }
    &:not(.active) .owl-dot__button:not(:hover) .owl-dot__button-bg._regular {
      opacity: 1;
    }

    &__button-inner {
      position: relative;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: #232245;
    }
    &.active .owl-dot__button-inner,
    &__button:hover .owl-dot__button-inner {
      color: #FFFFFF;
    }
  }
  .owl-dot.active .owl-dot__button,
  .owl-dot__button:hover {
    color: #232245;
    background-color: #FFFFFF;
  }
  //.owl-dot:nth-child(n + 7) {
  //  margin-top: 20px;
  //}
}

@mixin carousel() {

  @include carousel-arrows();
  @include carousel-dots();

}