@mixin link_area($size: 180%) {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: $size;
    height: $size;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}