{% set extras = [
    {
        title: 'Аквагрим',
        pic: 'images/extras/face_painting.jpg',
        link: ''
    }, {
        title: 'Candy Бар',
        pic: 'images/extras/candy_bar.jpg'
    }, {
        title: 'Шары',
        pic: 'images/extras/balloons.jpg'
    }, {
        title: 'Торты',
        pic: 'images/extras/cakes.jpg',
        link: ''
    }, {
        title: 'Фото-Видео',
        pic: 'images/extras/photo_video.jpg'
    }
] %}

{% embed 'sections/layout/primary.htm' with {title: 'Сделайте ваш праздник ещё ярче!', titleMod: '_max-width-extra-title'} %}
    {% block content %}
        <div class="b-extra">
            <div class="b-extra__carousel">
                <div class="b-extra-carousel js-extra-carousel owl-carousel">
                    {% for slide in extras %}
                        <div class="b-extra-carousel__slide" data-dot="<button role='button' class='owl-dot__button'><span class='owl-dot__button-bg _regular'></span><span class='owl-dot__button-bg _active'></span><span class='owl-dot__button-inner'>{{ loop.index }}</span></button>">
                            <div class="b-extra-carousel-slide">
                                <div class="b-extra-carousel-slide__pic">
                                    <img src="{{ slide.pic | assets }}" alt="" title="">
                                </div>
                                <div class="b-extra-carousel-slide__menu">
                                    <div class="b-extra-carousel-slide__title">{{ slide.title }}</div>
                                    <a href="{{ slide.link }}" class="b-extra-carousel-slide__link link _white">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="b-extra__button">
                {% partial "button.htm" text = 'Все дополнительные услуги' is_link = true link_href = '/extra' %}
            </div>
        </div>
    {% endblock %}
{% endembed %}