<section class="section b-form js-height-window">
    <div class="container">
        <div class="b-form__inner">
            <div class="b-form__hill">
                <img src="{{ 'images/bg/form_hill.svg' | assets }}" alt="" title="">
            </div>
            <div class="b-form__bus">
                <img src="{{ 'images/bus_stars.svg' | assets }}" alt="" title="">
            </div>
            <div class="b-form__decoration">
                <img src="{{ 'images/decoration.svg' | assets }}" alt="" title="">
            </div>
            <h2 class="b-form__title">Хотите заказать праздник?</h2>
            <p class="b-form__desc">Забронируйте Ваше мероприятие!</p>
            <div class="b-form__button">
                {% partial "button.htm" text = 'Заказать праздник' %}
            </div>
        </div>
    </div>
</section>