{% set games = [
    {
        pic: 'images/games/black_jane.jpg',
        title: 'Капитан Блек и рядовой Джейн',
        link: '',
        gender: 'boy'
    },
    {
        pic: 'images/games/alice_wonderland.jpg',
        title: 'Алиса в стране чудес',
        link: '',
        age: '7-9'
    },
    {
        pic: 'images/games/cinderella.jpg',
        title: 'Золушка',
        link: '',
        gender: 'girl'
    },
    {
        pic: 'images/games/clowns.jpg',
        title: 'Клоуны',
        link: ''
    },
    {
        pic: 'images/games/angels.jpg',
        title: 'Ангелы',
        link: '',
        age: '5-7'
    },
    {
        pic: 'images/games/fixiki.jpg',
        title: 'Фиксики',
        link: '',
        gender: 'boy',
        age: '2-3'
    },
    {
        pic: 'images/games/beauty_beast.jpg',
        title: 'Красавица и чудовище',
        link: ''
    },
    {
        pic: 'images/games/mary_bear.jpg',
        title: 'Маша и медведь',
        link: ''
    }
] %}

{% embed 'sections/layout/primary.htm' with {title: 'Игровые программы', desc: desc } %}
    {% import 'form_elements.htm' as form %}
    {% block content %}
        <div class="b-games">
            <div class="b-games__filter">
                <div class="b-games-filter js-games-filter">
                    <div class="b-games-filter__gender col-6 col-md-auto">
                        {{ form.select({mod: 'js-games-filter-gender', dataField: 'gender', title: 'Пол ребёнка', options: [{title: 'Для мальчика', value: 'boy'}, {title: 'Для девочки', value: 'girl'}]}) }}
                    </div>
                    <div class="b-games-filter__age col-6 col-md-auto">
                        {{ form.select({mod: 'js-games-filter-ege', dataField: 'age', title: 'Возраст ребёнка', options: [{title: '1 - 2', value: '1-2'}, {title: '3 - 4', value: '3-4'}, {title: '5 - 6', value: '5-6'}, {title: '7 - 8', value: '7-8'}]}) }}
                    </div>
                    <div class="b-games-filter__theme col-6 col-md-auto">
                        {{ form.select({mod: 'js-games-filter-themes', title: 'Тематические', options: [{title: 'theme 1 theme 1 theme 1 theme 1', value: 'theme1'}, {title: 'theme2', value: 'theme2'}]}) }}
                    </div>
                    <div class="b-games-filter__puppets col-6 col-md-auto">
                        {% partial "button.htm" text = 'Ростовые куклы' mod = 'js-games-filter-puppets' %}
                    </div>
                    <div class="b-games-filter__clear col-6 col-md-auto">
                        {% partial "button.htm" text = 'Сбросить фильтр' mod = 'js-games-filter-clear' %}
                    </div>
                </div>
            </div>
            <div class="b-games__list">
                <div class="b-games-list js-games-list owl-carousel js-games-mobile-carousel">
                    {% for item in games %}
                        <div class="b-games-list__item col-12 col-md-6 col-xl-3 js-games-item" data-dot="<button role='button' class='owl-dot__button'><span class='owl-dot__button-bg _regular'></span><span class='owl-dot__button-bg _active'></span><span class='owl-dot__button-inner'>{{ loop.index }}</span></button>"
                                {% if item.gender %} data-gender="{{ item.gender }}"{% endif %}
                                {% if item.age %} data-age="{{ item.age }}"{% endif %}
                                {% if item.theme %} data-theme="{{ item.theme }}"{% endif %}
                        >
                            <div class="b-games-list-item">
                                <div class="b-games-list-item__pic">
                                    <img src="{{ item.pic | assets }}" alt="" title="" class="b-games-list-item__pic-img">
                                </div>
                                <div class="b-games-list-item__info b-games-list-item-info">
                                    <div class="b-games-list-item-info__bg"></div>
                                    <div class="b-games-list-item-info__inner">
                                        <h3 class="b-games-list-item__title">{{ item.title }}</h3>
                                        <a href="{{ slide.link }}" class="b-games-list-item__link link">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="b-games__pagination-mobile">
                1 из 25
            </div>
            <div class="b-games__pagination">
                {% partial "pagination.htm" page_count = 5 %}
            </div>
            <div class="b-games__button">
                {% partial "button.htm" text = 'Больше персонажей' %}
            </div>
        </div>
    {% endblock %}
{% endembed %}