{% set videoUrl = 'xDAsABdkWSc' %}

<section class="section hero-primary js-height-window">
    <div class="hero-primary__bg"></div>
    <div class="container">
        <div class="hero-primary__inner">
            <h1 class="hero-primary__title">Организация детских праздников</h1>
            <p class="hero-primary__desc">Мы проведем ваших детей в увлекательный мир праздника, где они будут чувствовать себя сказочными героями.</p>
            <div class="hero-primary__button">
                {% partial "button.htm" text = 'Заказать праздник' %}
            </div>
        </div>
    </div>
    <div class="hero-primary__video">
        <div class="hero-primary-video js-video">
            <div class="hero-primary-video__pic">
                <button class="hero-primary-video-pic video js-video-button">
                    <span class="video__content js-video-content">
                        <span id="heroYTPlayer" data-url="{{ videoUrl }}" class="video__content-inner js-video-player"></span>
                        <span class="video__overlay js-video-overlay">
                            <img src="{{ 'images/notquitemytempo.jpg' | assets }}" alt="">
                            <span class="video__button video-button js-video-visual-button">
                                <span class="video-button__triangle"></span>
                            </span>
                        </span>
                    </span>
                </button>
            </div>
            <div class="hero-primary-video__text hero-primary-video-text">
                    <span class="hero-primary-video-text__bg"></span>
                    <span class="hero-primary-video-text__content">Наши мероприятия проходят так</span>
            </div>
        </div>
    </div>
</section>