{% set cardsHow = [
    {
        icon: 'images/icons/girl_notebook.svg',
        desc: 'Позвоните или сделайте заявку на сайте'
    }, {
        icon: 'images/icons/girl_schedule.svg',
        desc: 'Согласуйте смету с администратором'
    }, {
        icon: 'images/icons/funny_clown.svg',
        desc: 'Наслаждайтесь праздником'
    }
] %}

{% embed 'sections/layout/primary.htm' with {title: 'Как заказать праздник'} %}
    {% block content %}
        <div class="b-how">
            <div class="b-how__list b-how-list">
                {% for item in cardsHow %}
                    <div class="b-how-list__item col-12 col-md-4">
                        <div class="b-how-list-item">
                            {% if not loop.first %}
                                <div class="b-how-list-item__arrow">
                                    <div class="b-how-list-item__arrow-inner">
                                        {{ svg_icon({name: 'arrow_big', mod: 'b-how-list-item__arrow-svg'}) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="b-how-list-item__icon">
                                <img src="{{ item.icon | assets }}" alt="" title="" class="b-how-list-item__icon-img">
                            </div>
                            <p class="b-how-list-item__desc">{{ item.desc }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% endembed %}