{% set photos = [
    {
        pic: 'images/photos/pic1.jpg'
    }, {
        pic: 'images/photos/pic2.jpg'
    }, {
        pic: 'images/photos/pic3.jpg'
    }, {
        pic: 'images/photos/pic4.jpg',
    }, {
        pic: 'images/photos/pic5.jpg'
    }
] %}

{% embed 'sections/layout/primary.htm' with {title: 'Праздники в фотографиях'} %}
    {% block content %}
        <div class="b-photos">
            <div class="b-photos__carousel">
                <div class="b-photos-carousel js-photos-carousel owl-carousel">
                    {% for slide in photos %}
                        <div class="b-photos-carousel__slide" >
                            <div class="b-photos-carousel-slide">
                                <div class="b-photos-carousel-slide__pic">
                                    <img src="{{ slide.pic | assets }}" alt="" title="">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}