{% set shows = [
    {
        title: 'Шоу мыльных пузырей',
        pic: 'images/shows/show1.jpg',
        desc: [
        'Гигантские мыльные пузыри – лучший подарок для ребенка!',
        'На мыльном шоу малыши будут не только с восхищением ловить огромные пузыри, но и смогут оказаться в середине настоящего мыльного пузыря, пройдут обучение на мастер-классе по пусканию пузырей сквозь ладошки и увидят тысячи маленьких пузыриков одновременно !'
    ],
        link: ''
    }, {
        title: 'Шоу пыльных музырей',
        pic: 'images/shows/show1.jpg',
        desc: ['Гигантские пыльные музыри – лучший подарок для ребенка!', 'vxcvx'],
        link: ''
    }, {}, {}
] %}

{% embed 'sections/layout/secondary.htm' with {title: 'Шоу-программы'} %}
    {% block content %}
        <div class="b-shows">
            <div class="b-shows__carousel">
                <div class="b-shows-carousel js-shows-carousel owl-carousel">
                    {% for slide in shows %}
                        <div class="item b-shows-carousel__slide" data-dot="<button role='button' class='owl-dot__button'>{{ loop.index }}</button>">
                            <div class="b-shows-carousel-slide">
                                <div class="b-shows-carousel-slide__preview">
                                    <img src="{{ slide.pic | assets }}" alt="" title="" class="">
                                </div>
                                <div class="b-shows-carousel-slide__info">
                                    <h3 class="b-shows-carousel-slide__title">{{ slide.title }}</h3>
                                    <div class="b-shows-carousel-slide__desc">
                                        {% for item in slide.desc %}
                                            <p class="b-shows-carousel-slide__text">{{ item }}</p>
                                        {% endfor %}
                                    </div>
                                    <a href="{{ slide.link }}" class="b-shows-carousel-slide__link link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="b-shows__button">
                {% partial "button.htm" text = 'Все шоу-программы' %}
            </div>
        </div>
    {% endblock %}
{% endembed %}