{% set teamDesc = 'Вот уже более 6 лет главная задача нашей команды – создавать невероятные праздники! Мы постоянно растем вместе со своими клиентами, укрепляя качество и уровень организации! Мы работаем над образами, проводим сумасшедшие репетиции, шутим, веселимся, танцуем и конечно же сами остаемся детьми! Наши аниматоры проходят серьезную школу с профессиональными хореографами, получают знания и навыки в актерской сфере. Мы всегда совершенствуемся! Как у нас получается оставаться на пике популярности многие годы? Мы просто ооочень любим то, что мы делаем!' %}

{% set team = [
    {
        pic: 'images/team/person1.jpg',
        name: 'Дмитрий',
        desc: 'Актёр'
    }, {
        pic: 'images/team/person2.jpg',
        name: 'Светлана',
        desc: 'Актёр'
    }, {
        pic: 'images/team/person3.jpg',
        name: 'Екатерина',
        desc: 'Менеджер'
    }, {
        pic: 'images/team/person4.jpg',
        name: 'Полина',
        desc: 'Менеджер'
    }
] %}

{% embed 'sections/layout/primary.htm' with {title: 'Наша команда', desc: teamDesc} %}
    {% block content %}
        <div class="b-team">
            <div class="b-team__list">
                <div class="b-team-list">
                    {% for item in team %}
                        <div class="b-team-list__item col-12 col-md-6 col-xl-3">
                            <div class="b-team-list-item">
                                <div class="b-team-list-item__pic">
                                    <img src="{{ item.pic | assets }}" alt="" title="" class="b-team-list-item__pic-img">
                                </div>
                                <div class="b-team-list-item__info">
                                    <div class="b-team-list-item__stars"></div>
                                    <h4 class="b-team-list-item__name">{{ item.name }}</h4>
                                    <p class="b-team-list-item__desc">{{ item.desc }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="b-team__pagination">
                {% partial "pagination.htm" page_count = 3 %}
            </div>
        </div>
    {% endblock %}
{% endembed %}