{% set testimonials = [
    {
        name: 'Nadine',
        text: ['Just did my daughter&#39;s first birthday with them and they were great!!! Kids of all ages were invited and they all had a great time and were entertained. Great service and very reasonable pricing! Highly recommend them!']
    },
    {
        name: 'Shani',
        text: ['I did the bubble show for my daughter 2nd bday and it was amazing! The older kids and the adults loved it also!']
    },
    {
        name: 'Ea Mia',
        text: ['Very recommended! Great people, wonderful place, very nice atmosphere. Birthday party was awesome, the animation did a great job playing with kids. Very reasonable prices and quality service!']
    },
    {
        name: 'Nuriya',
        text: ['Best place for kids Party! Beautiful place, stuff very friendly and entertainment very nice!']
    },
    {
        name: 'Renata',
        text: ['Mad Monkeys were in my daughter&#39;s kindergarten in honor of her birthday. My daughter, myself and all the children were ecstatic and got a lot of fun! Guys fellows!']
    },
    {
        name: 'Sergey',
        text: ['We had The best kids birthday party. Thanks mad monkeys for great host and entertainment.']
    }
] %}

{% embed 'sections/layout/primary.htm' with {title: 'Отзывы наших клиентов', titleMod: '_max-width-mobile-testimonials-title'} %}
    {% block content %}
        <div class="b-testimonials">
            <div class="b-testimonials__list">
                <div class="b-testimonials-list{% if carouselMobile %} _mobile-carousel js-testimonials-mobile-carousel{% endif %}">
                    {% for item in testimonials %}
                        <div class="b-testimonials-list__item  col-12 col-md-6 col-xl-4" data-dot="<button role='button' class='owl-dot__button'><span class='owl-dot__button-bg _regular'></span><span class='owl-dot__button-bg _active'></span><span class='owl-dot__button-inner'>{{ loop.index }}</span></button>">
                            <div class="b-testimonials-list-item">
                                <div class="b-testimonials-list-item__bg"></div>
                                <div class="b-testimonials-list-item__inner">
                                    <div class="b-testimonials-list-item__name">{{ item.name }}</div>
                                    <div class="b-testimonials-list-item__text">
                                        {% for p in item.text %}
                                            <p>{{ p | raw }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if not carouselMobile %}
                <div class="b-testimonials__pagination">
                    {% partial "pagination.htm" page_count = 3 %}
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}