{% set cardsWhy = [
    {
        icon: 'images/icons/smart_girl.svg',
        desc: 'Педагогическое образование'
    }, {
        icon: 'images/icons/baby.svg',
        desc: 'Работа с детьми от 1 года'
    }, {
        icon: 'images/icons/special_children.svg',
        desc: 'Работа с особыми детьми'
    }, {
        icon: 'images/icons/docs.svg',
        desc: 'Наличие лицензий и документов'
    }
] %}

{% embed 'sections/layout/primary.htm' with {title: 'Почему выбирают нас?'} %}
    {% block content %}
        <div class="b-why">
            <div class="b-why__list b-why-list js-why-mobile-carousel owl-carousel">
                {% for item in cardsWhy %}
                    <div class="b-why-list__item col-12 col-md-6 col-xl-3" data-dot="<button role='button' class='owl-dot__button'><span class='owl-dot__button-bg _regular'></span><span class='owl-dot__button-bg _active'></span><span class='owl-dot__button-inner'>{{ loop.index }}</span></button>">
                        <div class="b-why-list-item">
                            <img src="{{ item.icon | assets }}" alt="" title="" class="b-why-list-item__icon">
                            <p class="b-why-list-item__desc">{{ item.desc }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% endembed %}