.form-changer {
  display: flex;
  align-items: center;
  padding: 12px 23px;
  height: 60px;
  background: linear-gradient(180deg, #FFE093 0%, #FFD15C 100%);
  border-radius: 28.7755px;

  &__prev,
  &__next {
    width: 6px;
    height: 12px;
    position: relative;

    &:before {//для треугольника
      content: '';
      position: absolute;
      top: 0;
      border: 6px solid transparent;
      transition: border-color .4s;
    }

    &:after {//расширение области клика
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200%;
      height: 200%;
    }
  }
  &__prev:before {
    right: 0;
    border-right-color: #232245;
  }
  &__prev:hover:before {
    border-right-color: #F16500;
  }
  &__next:before {
    left: 0;
    border-left-color: #232245;
  }
  &__next:hover:before {
    border-left-color: #F16500;
  }

  &__content {
    position: relative;
    padding: 0 15px;
    width: 58px;
  }

  &__list {
    overflow: hidden;
    width: 0;
  }
  &__list.is-active {
    width: auto;
  }

  &__input {
    position: absolute;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232245;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    width: 0;
    text-align: center;
  }
  &__input.is-active {
    width: 28px;
  }
}

.form-changer-list {
  display: flex;
  align-items: center;

  @include gutters(30px);

  &__item {

  }
}

.form-changer-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #232245;
}