.form-datepicker {
  padding: 0 35px;
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  min-height: 60px;
  background: linear-gradient(180deg, #FFE093 0%, #FFD15C 100%);
  border-radius: 28.7755px;

  &.is-focused  {
    background: #FFE093;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232245;
  }

  &__title {
    position: absolute;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232245;
    transition: all .4s;
    top: 20px;
  }
  &.is-focused &__title,
  &:not(.is-empty) &__title {
    font-size: 8px;
    line-height: 10px;
    color: #858585;
    top: 8px;
  }

  &__arrow {
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
  }

  &__left,
  &__right {
    display: block;
    width: 6px;
    height: 12px;
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;

    &:before {
      content: '';
      position: absolute;
      border: 6px solid transparent;
    }
  }
  &__left:before {
    right: 0;
    border-right-color: #232245;
  }
  th.prev:hover &__left:before {
    border-right-color: #F16500;
  }
  &__right:before {
    left: 0;
    border-left-color: #232245;
  }
  th.next:hover &__right:before {
    border-left-color: #F16500;
  }
}

.form-datepicker-arrow {
  display: block;
  width: 12px;
  height: 6px;
  position: relative;
  transition: transform .4s;

  .form-datepicker.is-focused & {
    transform: rotateX(180deg);
  }

  &:before {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-top-color: #232245;
    top: 0;
    left: 0;
  }
}