.form-elems-group {
  &__title {
    font-weight: 600;
    color: #232245;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $screen-md) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__list {
    margin-top: 10px;
  }
}

.form-elems-group-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  &__item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
  //--------------------------------------cols aka bootstrap-----------------------------------//
  &._items-1 &__item {
    width: 100%;
  }
  &._items-2 &__item {
    width: 50%;
  }
  &._items-4 &__item {
    width: 25%;
  }
  &._items-5 &__item {
    width: 20%;
  }
  &._items-md-1 &__item {
    @media (min-width: $screen-md) {
      width: 100%;
    }
  }
  &._items-md-2 &__item {
    @media (min-width: $screen-md) {
      width: 50%;
    }
  }
  &._items-md-4 &__item {
    @media (min-width: $screen-md) {
      width: 25%;
    }
  }
  &._items-md-5 &__item {
    @media (min-width: $screen-md) {
      width: 20%;

    }
  }
  //-------------------------------------end cols-------------------------------------//
}

.form-elems-group-list-item {
  position: relative;
  display: block;
  cursor: pointer;

  &__input {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__field {
    padding: 7px 15px;
    background: linear-gradient(180deg, #FFE093 0%, #FFD15C 100%);
    border-radius: 28.7755px;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    overflow: hidden;
  }
  &._column &__field {
    padding: 0 0 14px;
    flex-flow: column nowrap;
  }

  &__check {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid #02978E;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .4s;
  }
  &._column &__check {
    margin-top: 10px;
  }
  &__check-content {
    opacity: 0;
    transition: opacity .4s;
  }
  &__field._checkbox &__check-content {
    color: #FFFFFF;
    width: 23px;
  }
  &__field._radio &__check-content {
    display: block;
    width: 17px;
    height: 17px;
    background: #02978E;
    border-radius: 50%;
  }
  &__input:checked + &__field._checkbox &__check {
    background: #02978E;
  }
  &__input:checked + &__field &__check-content {
    opacity: 1;
  }

  &__title {
    flex-grow: 1;
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232245;
  }
  &._column &__title {
    margin-left: 0;
    margin-top: 10px;
  }
}