.form-primary {
  max-width: 796px;
  margin-left: auto;
  margin-right: auto;

  &__row {
    display: flex;
    align-items: stretch;
    @include gutters(20px);
    @media (max-width: $screen-md - 1) {
      flex-wrap: wrap;

        & > * + * {
          margin-top: 20px;
        }
    }
  }
  &__row + &__row {
    margin-top: 20px;
  }

  &__button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}