.form-secondary {
  max-width: 794px;
  margin-left: auto;
  margin-right: auto;

  &__inner {

  }

  &__row {
    position: relative;
    display: flex;
    align-items: stretch;
    @include gutters(20px);
  }
  &__row + &__row {
    margin-top: 20px;
    @media (min-width: $screen-md) {
      margin-top: 30px;
    }
  }

  &__datepicker {
    position: relative;
    min-height: 1px;
  }

  &__date {

  }
}