.form-select {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: 100%;

  &__field {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

}