.form-text {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    border-radius: 23.5px;
    overflow: hidden;
    transition: opacity .4s;
  }
  &._big &__bg {
    border-radius: 28.7755px;
  }
  &__bg._regular {
    background: linear-gradient(180deg, #FFE093 0%, #FFD15C 100%);
  }
  &__bg._hover {
    background: #FFE093;
  }
  &__bg._error {
    background: #FFB7A7;
  }

  &.is-focused &__bg._hover,
  &:not(.is-empty) &__bg._hover {
    opacity: 1;
  }
  &.is-empty:not(.is-focused) &__bg._regular {
    opacity: 1;
  }

  &._textarea {
    align-items: normal;
  }

  & + & {
    margin-top: 23px;
  }

  /* ---------------------------------Title------------------------------------ */

  &__title {
    position: absolute;
    padding-right: 20px;
    left: 15px;
    font-weight: 600;
    color: #232245;
    transition: all .4s ease-in;
    max-width: calc(100% - 18px);
    top: 10px;
    z-index: 1;
    font-size: 12px;
    line-height: 14px;
    @media(min-width: $screen-md) {
      font-size: 16px;
      line-height: 19px;
      width: 90%;
      top: 13px;
      left: 35px;
    }
  }
  &._big &__title {
    top: 13px;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $screen-md) {
      top: 20px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  &._textarea &__title {
    top: 20px;
  }

  &._mobile-full &__title {
    @media(max-width: $screen-md - 1) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  /* ---------------------------------Field------------------------------------ */

  &__field {
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    background-color: transparent;
    width: 100%;
    height: 40px;
    flex-grow: 1;
    font-weight: 600;
    color: #232245;
    padding: 13px 15px;
    font-size: 12px;
    line-height: 14px;
    @media (min-width: $screen-md) {
      height: 47px;
      padding: 14px 35px;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &._big &__field {
    height: 40px;
    @media (min-width: $screen-md) {
      height: 60px;
    }
  }

  &__field.error {
    border-color: #ff0000;
  }

  &.is-focused &__title,
  &:not(.is-empty) &__title {
    font-size: 8px;
    line-height: 10px;
    color: #858585;
    top: 4px;
    @media (max-width: $screen-md - 1) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &._textarea &__field {
    padding-top: 10px;
    resize: none;
    height: 190px;
    @media (min-width: $screen-md) {
      height: 190px;
    }
  }

}